[2018-04-16 22:47] Fantmx commented on #208
Thanks. That helps to clarify things.

My initial problem was an error in the "message-id".

However this helps to clarify exactly what is being passed in. And it's now working!

[2018-04-17 12:33] Fantmx commented on #208
I have one more question if you don't mind.  For something like item.position.alignment. How does that get passed in? If I just use "alignment" there is another property item.bounds.alignment that I would not want to change. So how do I distinguish between the two?

Thanks again

[2018-04-17 13:40] pantonvich commented on #208
you might need to look at the code to see how its defined - for the SetTextGDIPlusProperties I set the font-size this way as size is a child of font:   $",\"font\":{{\"size\":{fontSize}}}"

[2018-04-23 04:55] Zackery opened #209 "Looking to Integrate with Elgato Stream Deck"
##### Issue type
Feature Request

##### Description
Hi there! I'm looking to integrate this with my Elgato Stream Deck so I can control both my gaming PC OBS (running NDI) and my streaming PC OBS scenes with my Stream Deck. That way I can control both instances of OBS with my Stream Deck (which can only be hooked up to one computer). I was wondering if there's any sort of API call I can point to,

[2018-04-26 09:35] wherget commented on #195
I've just been through this as well. There are some library incompatibility and loading issues with OBS upgarding Qt to 5.10 and some intricacies on the build side of OBS-Websockets.
On a more positive note, I have it working on my end, thanks to in large parts previous work already done in #207. I'll try and figure out the best way to go about getting a working osx build landed soon.

[2018-04-27 08:36] ethaniel commented on #178
This is an amazing thing actually! We use OBS for a remote webcamera and sometimes our HDMI feed dies. It would be cool if we could get a thumbnail remotely. This way we could compare it with a previous thumbnail and if there are no changes, then perform a HDMI reset procedure.

[2018-04-30 07:34] ethaniel opened #212 "[$100 bounty] Need snapshot feature"
Hi!

I need to be able to grab a snapshot from my video device via the API.

The reason is that I'm using OBS for my outdoor webcamera. My video device (gopro) is faulty and sometimes randomly turns off. I want to take snapshots every 10 seconds, so I could compare them to detect if the device has turned off.

Since video is imported through a HDMI Capture card (FHD Capture), only one client (OBS)

[2018-04-30 15:31] ErikBorra commented on #195
I installed the latest osx pkg (obs-websocket 4.3.1) and obs 21.1.1 would crash on launch afterwards. Reinstalling obs 21.1.1 solved the problem and obs-websocket is now installed. I'm on osx 10.13.4

[2018-04-30 15:39] ErikBorra commented on #186
Clean install of obs worked for me too.

[2018-05-01 17:22] ethaniel opened #213 "Need to change encoding bitrate"
I'm using OBS for a remote webcam. It would be cool to be able to control the encoding bitrate via the API:

![image](https://user-images.githubusercontent.com/941973/39484078-c7af9ebe-4d9e-11e8-964e-2c4b19040c69.png)

During daytime, I broadcast at 6000 kilobits per second. During nighttime (when the image is dark and almost nothing is visible) I would lower down to 1500 kilobits to save on bandw

[2018-05-01 23:51] Rosuav opened #214 "Request a projector window?"
##### Issue type
Feature request

##### Description
I'd love to be able to signal OBS to open a windowed projector. Once the window is open, I can script its position etc using external tools, but currently it requires a mouse click to open the projector itself.

##### Technical information
- **Operating System** : Debian GNU/Linux
- **OBS Studio version** : 19.0.3+ built from git

[2018-05-07 16:01] JustinLove commented on #206
I traced in a bit. OBS events are still happening and getting to pClient->sendTextMessage(message), but it is a bit of a black box from there.

[2018-05-19 19:17] ethaniel opened #215 "Feature request: ability to change the encoding CBR"
I'm using OBS in a remote webcam setup which streams to a live Youtube channel 24/7.
I normally stream at 4500 kbps.

Sometimes, my ISP has congestion on the line and packets are lost. This happens every few days and lasts for an hour or so.
During this time my channel stream is unviewable (and I lose viewers).

When this happens, I have to manually tune down the CBR encoding rate to 1500 kbps. Th

[2018-05-19 19:29] ethaniel commented on #215
Please delete this. OBS are already working on automatic bitrate adjust. So no obvious need to change it via websockets anymore.

[2018-05-19 19:29] #215 closed

[2018-05-21 09:58] ognjetina opened #216 "Removing from mac"
##### Issue type
Other

##### Description
How can I remove it from mac... I have two instances installed and its failing to start obs now...

[2018-05-21 11:08] Palakis commented on #216
@ognjetina The plugin is installed in `/Library/Application Support/obs-studio/plugins/obs-websocket`. Remove that folder and the plugin will be gone.

[2018-05-21 11:15] ognjetina commented on #216
@Palakis I am not having plugins folder...

[2018-05-21 11:34] ognjetina commented on #216
@Palakis thank you...

[2018-05-21 11:34] #216 closed

[2018-05-23 22:24] haganbmj opened #217 "SceneItemProperties - Invalid Request Parameters"
##### Issue type
Bug Report

##### Description
Unable to send `GetSceneItemProperties` or `SetSceneItemProperties`, appears to be related to parsing the incoming json structure as it passes the first check and recognizes at least the `item` top level object.

https://github.com/Palakis/obs-websocket/blob/e316da9b6ebd75985bae64f6245a8081ceee524a/src/WSRequestHandler_SceneItems.cpp#L43-L47

##### St

[2018-05-24 23:08] REALDRAGNET opened #218 "GetSourceSettings always returns the values from startup, not current"
Hi,
I have created a small application "OBSCommand" that is using your plugin to control OBS via command line.
(https://obsproject.com/forum/resources/command-line-tool-for-obs-websocket-plugin.615/)

Trying to add a new feature, I ran into a problem:
With GetSourceSettings, I can't get current data, it always returns the same values (from when OBS started).

I use the obs-websocket-dotnet .dll to

[2018-05-28 23:03] AdamSzofran opened #222 "Any interest in having RecordStatus analogous to StreamStatus?"
##### Issue type
Feature request

##### Description
Is there any interesting in extending the protocol to support sending recording status updates with the same type of data we can currently get for streaming status?

For example, for streaming status, we currently have:
[code]
What if we added something like this?
[code]
Perhaps it would be best to make the two types of status updates share the s

[2018-06-03 14:00] ntoff commented on #222
If this gets implemented, it'd be nice to also include the replay buffer info / status as per my request https://github.com/Palakis/obs-websocket/issues/183 since it'd be useful for things like the obs tablet remote to know whether the replay buffer is on or off when it first connects / page gets refreshed.

[2018-06-04 17:06] alvancamp opened #223 "TransitionBegin is not always emitted when transitioning to a scene with a Transition Override"
##### Issue type
Bug report

##### Description
When transitioning to a scene with a "Transition Override", `obs-websocket` will not emit the `TransitionBegin` event.

##### Steps to reproduce and other useful info
1. Import this [`obswebsocket_bug.json`](https://gist.github.com/Lange/10c9b7a08e7aec6639b9caf0f60d2794) scene collection, which has two scenes. `Scene 1` has a Transition Override, `Sce

[2018-06-05 04:14] AdamSzofran commented on #222
That's a good idea. I'll see if I can support replay status as well without too much fuss.

[2018-06-05 05:32] ntoff commented on #222
I don't know how much more fuss it is to add to your own code, I just added the replay buffer status to the output of the stream status thing. It already give you the status of recording (true / false) so I figured that was just the generic obs status output place to be.

[2018-06-08 17:50] Lange opened #224 "Request: add information about source and destination scenes to TransitionBegin event"
##### Issue type
Feature request

##### Description
I would like the `TransitionBegin` event to include the names of the scenes involved in the transition (i.e., which transition is being transitioned from, and which one is being transitioned to).

##### Rationale
I have some code which needs to toggle the visibility of a few sources on a scene right before that scene is put live on PGM. The trans

[2018-06-09 23:16] dtcooper commented on #195
Confirmed re-installing 21.1.1 over websockets fixes the problem on macOS 10.13.5

[2018-06-10 18:18] AdamSzofran commented on #222
How does this look? I decided to leave the `StreamStatus` event alone to avoid breaking existing apps. Instead, I created three new events: `StreamingStatistics`, `RecordingStatistics`, and `ReplayBufferStatistics`. All three events share the same payload structure.

https://github.com/AdamSzofran/obs-websocket/commit/52666d3f1390dc2a766d9469fa97f235e518448c

https://github.com/AdamSzofran/obs-web

[2018-06-10 22:27] RNG-Tech opened #225 "Get and Set Filters on SceneItems"
##### Issue type
Feature request

##### Description
It would be great if we could set and get the Filters of certain SceneItems.
This would allow for more complex animations & effects from external scripts/programs.

[2018-06-11 05:44] ntoff commented on #222
I guess now we just wait.

Though, if you're creating a new output event, why not just combine all of it into one overall ```ObsStatus``` (or similar) event where you could put *everything*? Does it have to be 3 separate events?

[2018-06-11 18:10] jellomold commented on #217
additional observations to haganbmj's comment.  the documentation makes reference to an unknown thing called a "item->id" but does suggest the id is the same as the name.   I'm super keen to get this working.  looking through the project's source code made me notice the obs_data_get_obj() function isn't called very often. Im' almost thinking it's the problem.  but how or why it's failing is yet tb

[2018-06-12 03:33] AdamSzofran commented on #222
Well, there's nothing to wait for since my changes aren't in the form of a pull request yet. At this point I'm just hoping to get some feedback (like yours, thanks!). If people think these changes are on the right track then I'll make up a pull request to bug Stéphane 😄. One question I have is whether I'll need to port the changes to the Python and Javascript clients. If so, then I'll need help be

[2018-06-12 03:38] AdamSzofran commented on #222
In answer to your question about having three events versus one event, I guess it could go either way. The reason I went with three events was because I personally only care about one or maybe two of them. 😄 Forcing everyone to consume data for all the output types seemed a bit heavy handed unless, of course, you wanted statistics for all three outputs to begin with.

[2018-06-12 18:07] dtcooper commented on #186
Potential dupe of #195.

[2018-06-24 19:29] Lange commented on #224
Bumping priority on this. We currently have some race conditions at SGDQ that I don't think I can fix without this data being added to the `TransitionBegin` event. Any spare time that can be put towards this would be greatly appreciated.

[2018-06-24 20:34] Palakis commented on #224
Done, implemented in edc0fed9e2b2cb96b394250ff493eff3c549edd9

[2018-06-24 20:34] #224 closed

[2018-06-25 05:04] ethaniel opened #226 "Need feature: change CBR value"
Hi!

I'm running a 24/7 youtube webcam. For the most part of the day there are no people in the camera and the image doesn't change much, so the 2500 kbps bitrate is good for it. However, when there are people in the camera, I would like to increase the bitrate to 5000 kbps.

I already have the system which detects people, but have no way of changing the CBR value of the stream. Could you consider

[2018-06-26 21:14] macharborguy commented on #217
I too am running into this issue, with both SetSceneItemProperties as well as GetSceneItemProperties, making it impossible to actually use OBS-WebSockets for any source manipulation.

OBS Studio v21.1.2
obs-websocket v4.3.3
obs-websocket-js v1.2.0

[2018-06-27 02:12] Lange commented on #222
I'm also interested in a `RecordingStatus` request.

[2018-06-28 02:37] AdamSzofran commented on #222
Thanks @Lange. I'll try to find some time to clean up the code and submit a pull request.

[2018-07-09 21:44] brabe opened #227 "MacOS OBS Crash Immediately upon launching"
##### Issue type
Bug Report

##### Description
While running on MacOS High Sierra, a different process can be on port 4444 by default. I am unsure if it is a default program in MacOS that had been active on the port already.

##### Steps to reproduce and other useful info
1. Install OBS
2. Install OBS Websocket Plugin using .pkg
3. Launch OBS

OBS immediately crashes typically without a prompt and

[2018-07-09 21:44] brabe commented on #227
If possible, disabling the default to have the server start on launch without configuration might solve this issue.

[2018-07-09 21:57] brabe commented on #209
Hi,

I'm currently working on a program that achieves what I think you are looking for it. It's not currently written for Windows, but should be easily transferred as it is written using the Xamarin.Mac framework in C# using much of the .NET Framework and OBS-WebSocket-NET plugin.

For example currently the server interprets everything following the address. Everything after "http://127.0.0.1/" as

[2018-07-17 11:48] matiaspl commented on #227
In my case it's crashing because of qt version mismatch. Latest OBS for OSX (21.1.1-modified) seems to use 5.10.1. Obs-websocket 4.3.1 and 4.3.0 were compiled with qt 5.9.2. Latest master build use qt 5.11.0 (OBS at least doesn't crash with it, but obs-websocket fails to load. I don't know if it's just my luck an locally installed libraries taking precedence or there's just no obs-websocket build

[2018-07-20 17:06] aaarghhh opened #230 "Can't compile under Debian"
##### Issue type
Can't compile.

##### Description
I have download the last sources of obs to link correctly to libobs because i noticed that it try to locate that lib.
I followed the instruction you have provided but:

error: ‘obs_module_get_string’ was not declared in this scope
     obs_frontend_push_ui_translation(obs_module_get_string);

##### Technical information
Debian 4.9.88-1+deb9u1 (201

[2018-07-21 14:39] #230 closed

[2018-07-26 11:49] aaarghhh opened #233 "SetRecordingFolder: what this method does?"
##### Issue type
Other?

##### Description
Invoking this method it create a an absolute directory in the filesystem and set the mount point of the  setting' fileexplorer in that directory, so i don't understand what this method is intended to be.
You have to update the directory using obs'setting otherwise when you start recording the file will be created in the previous directory.

##### Technica

[2018-07-27 15:31] Rosuav commented on #214
Nothing at all? Nobody else is interested in this?

[2018-08-02 14:35] Kelin2025 opened #234 "Use websocket without OBS"
##### Issue type
Question

##### Description
Hi. Great plugin! I'm working on tool for streamers and thinking about opportunity to use websocket without OBS window opened. Any chances for that?

[2018-08-13 20:17] filippsudanov opened #235 "obs-websocket 4.3.3 linux build missing from releases page"
obs-websocket version 4.3.3 seems to be the only one compitable with newest OBS 21.1, but it's not available as linux build. Will it be provided?

[2018-08-13 21:07] filippsudanov commented on #214
In OBS Studio's setting there is checkbox "Save projectors on exit". However, on version 21.1.0 on Linux it does nothing for me. May be this is incomplete functionality or a bug. If that wound satisfy your needs, you might want to raise an issue on OBS Studio's bugtracker.

[2018-08-13 21:15] Rosuav commented on #214
It won't; I use OBS in multiple different ways, and sometimes want the projector and sometimes not. Good thing to have mentioned in the thread though - someone else may find that sufficient.

[2018-08-21 00:35] illusdidi commented on #181
Thank you so much for fixing this bug. :D

[2018-08-21 00:35] #181 closed

[2018-08-21 00:42] haganbmj commented on #181
Took a while, but it's in obs 22 now.

[2018-08-28 17:32] filippsudanov commented on #178
There's a possible workaround for this - with NDI plugin you can stream your inputs as NDI. Then you can use ffmpeg (compiled with NDI support) to capture one frame of the stream as image like this:
`ffmpeg -f libndi_newtek -i 'NDI_STREAM_NAME' -vframes 1 -y image.bmp`
this way ffmpeg exits after it captures the frame, and it takes some time for it to startup and find the stream, before the frame

[2018-09-03 11:02] jpietek commented on #234
+1 I guess that would require quite some changes in obs-studio itself. I've been trying to figure it out, but still no luck.

That would be nice to have a proper backend - frontend separation. Right now I had some problems with obs-studio holding the source references while keeping source names in QTLists (expecially the 2.2 version).

That makes source management via the websockets quite buggy. I

[2018-09-09 19:23] congoblue opened #236 "GetStreamingStatus does not return correct record or stream timecode 4.4.0"
##### Issue type
Bug report

##### Description
GetStreamingStatus command does not return the correct record or stream timecode. The time is returned but does not increment correctly. This worked ok in the previous versions of obs-websocket and obs before v22

##### Steps to reproduce and other useful info
Start OBS recording, send GetStreamingStatus command. Websocket returns a field "rec-timecod

[2018-09-18 06:35] Symbiatch opened #237 "Groups-functionality breaks everything"
##### Issue type
Bug report

##### Description
When using grouping in OBS Studio the sources can't be used at all

##### Steps to reproduce and other useful info
Add a group, put a source in it. There will be no events for visibility of that source and they cannot be addressed via the API, for example hide/show doesn't do anything. The group itself does send events and can be hidden/shown.

#####

[2018-09-18 11:43] pantonvich commented on #237
Source inside a Source has the same issue.

[2018-09-21 08:02] naychrist opened #238 "obs-websocket does not load on mac"
##### Issue type
Bug report

##### Description
OBS launches but the plugin does not load (nothing appears under tools). launching from terminal or viewing log I can see this is due to a qt version mismatch:

[code]

After trying with the downloaded binary I installed qt 5.11 using brew and built obs-websocket from scratch as per instructions. This compiles fine but after install I have the same is

[2018-09-24 00:41] naychrist commented on #238
Just a note that when building both OBS and obs-websockets with qt 5.11.2 I actually get a different error than a qt mismatch when launching OBS:

[code]

However, it is installed before building and the path seems to be set correctly set in the build_macos.sh script:
`-DQTDIR=/usr/local/opt/qt`

I suspect that building with the correct version will fix this but that I am missing a step. Would be

[2018-09-24 14:55] davidhopson opened #239 "obs-websocket.so requires version 5.11.0 or later, but QtWidgets provides version 5.10.0"
##### Issue type
It's a sort of Bug - about a library version problem

##### Description
OBS can't load obs-websocket.so

##### Steps to reproduce and other useful info
I open OBS and get the lines below in the log - this prevents me using an android app called Stream Copilot through which I can control OBS remotely

##### Technical information
- **Operating System** : MacOS 10.13.6
- **OBS Studio

[2018-09-24 23:06] naychrist commented on #239
duplicate of #238 (more info there)

[2018-09-25 11:05] davidhopson commented on #239
Missed that! Not nearly skilled enough to assist in resolving the issue. Hope someone can soon. It was so useful when it worked!

[2018-09-26 09:52] twisted86 commented on #209
Any updates on that program you were working on? Im trying to do the same thing the OP posted about.  Thanks.

[2018-09-27 21:34] caseymrm commented on #238
Hi, I had the same process and also built it myself, same result.

It's some kind of @rpath dynamic library issue that I don't understand, but I did find a workaround.

When I go into /Applications/OBS.app/Contents/Resources/bin I can run this:

[code]

So I added each directory to DYLD_LIBRARY_PATH until it worked, this was what I had to run to make OBS load obs-websocket (from that same Resource

[2018-09-30 21:35] progrium commented on #238
I took a slightly different path and removed the @rpath references from the obs-websocket.so. So for example, before it looked like this:
[code]
My built OBS looked like this:
[code]
So I used `install_name_tool` to change the path used in the obs-websocket.so for each Qt component:
[code]
Resulting obs-websocket.so looked like this:
[code]
And my built OBS was able to load it.

[2018-10-02 04:52] naychrist commented on #238
thanks @caseymrm and @progrium - I ended up going with the `install_name_tool` approach as I have seen this command in post build scripts before. Glad to be able to build and run the latest versions! Looks like qtSockets is going to be replaced with websocketpp in the 5.0 release so maybe this will cease to be an issue for new releases then.

[2018-10-05 06:20] Anaerin opened #242 "Unable to get item size from API"
##### Issue type
Bug/Missing Information

##### Description
When issuing getSceneItemProperties, there's no way to get the actual height and width of the item, only it's X and Y co-ordinates. The documentation implies that bounds.x and bounds.y will give the width and height, but in practise they don't.

##### Steps to reproduce and other useful info
To reproduce, issue a getsceneitemproperties re

[2018-10-05 20:27] JeffJaf opened #243 "Change directory for image slideshows"
##### Issue type
Feature request

##### Description
I would like a feature to be able to change directories for image slideshows, or a way to 'refresh' a directory from a slideshow whenever the directory is modified. This would provide a way to automatically update the slideshow whenever an image is added or removed, which I think is a long requested feature for OBS and obs-websocket could provide

[2018-10-12 08:50] andreascreten commented on #238
I also have this issue and tried the approach @progrium took. I ran the five `install_name_tool` scripts without any luck. Anything else I can do to fix this?

[2018-10-12 10:54] naychrist commented on #238
just to clarify, this worked for me with a build of the most recent OBS from github and the binary installer for obs-websocket 4.4

[2018-10-14 19:00] reedog117 opened #244 "Problem when modifying properties of source and obs-websocket changes the scene."
##### Issue type
OBS crashes if changing properties of a source and obs-websocket changes the scene to a different one without that source.

##### Description
OBS crashes if changing properties of a source and obs-websocket changes the scene to a different one without that source.

##### Steps to reproduce and other useful info
Open properties for a source within a scene. Change to another scene w

[2018-10-14 22:00] PatTheMav commented on #238
So right now there's no way to get the plugin running without compiling OBS against a locally installed qt 5.11?

[2018-10-14 22:07] progrium commented on #238
I believe so.

[2018-10-16 00:13] progrium commented on #238
Yeah, I had to go through all this too. I don't remember needing to use Xcode to compile CEF. I think I just did a cmake and build. Try that as you might find better results. I should have documented that one too...

[2018-10-16 23:54] PatTheMav commented on #238
I've tried to follow the build instructions for the obs-browser plugin, maybe I misread that I don't have to built CEF myself..

From what I can see @Palakis already committed a possible fix (3b7e2164096a7e736ed2e5ebb3bae035b048586c), however the "back ported" QT5 version fails to build under Mojave for me..

[2018-10-22 13:31] PatTheMav commented on #239
@davidhopson Building a version yourself is not an option?

[2018-10-23 11:17] Palakis commented on #235
@filippsudanov 4.3.3 was a Windows-only hotfix, hence why there is no macOS and Linux binaries with this release.
You can use 4.4.0 which has a Linux binary provided and is compatible with 21.1.

[2018-10-23 11:17] #235 closed

[2018-10-23 11:20] Palakis commented on #238
@PatTheMav could you patch this and submit a PR please? If it's possible for you and have time to it, of course.

[2018-10-23 11:20] #239 closed

[2018-10-23 11:21] Palakis commented on #238
By the way, the Qt version fix has been applied to obs-ndi but not obs-websocket yet.

[2018-10-30 19:38] PatTheMav commented on #238
@Palakis Thanks for merging, I'll merge your changes into my fork and will try to make a release over there, so if necessary, people can download a working macOS package from there.

[2018-11-01 22:09] iBobik commented on #238
@PatTheMav Are you going to release it soon? I tried to build it locally, but not succeded.

[2018-11-02 15:21] PatTheMav commented on #238
I‘ll try and upload a build later tonight (I want to keep the style and naming Palakis has introduced, so I need to figure that out first).

Could you specify a few more details at which point building a version yourself failed? Might be that the CI scripts need adjustments..

On 1. Nov 2018, at 23:09, Jan Pobořil <notifications@github.com> wrote:

@PatTheMav Are you going to release it soon? I tr

[2018-11-02 15:53] iBobik commented on #238
I run shell scripts in CI directory in order from tracis.yml, but there were some compilation errors.

macOS Mojave

[2018-11-03 16:43] PatTheMav commented on #238
@iBobik Here you go: https://github.com/PatTheMav/obs-websocket/releases/tag/4.5.0

There was a typo in one of the source files that broke the building process, I created a pull request to fix that one already. But this package should work on macOS for now.

[2018-11-05 22:49] Lange opened #250 "TransitionBegin stops being emitted after changing Scene Collection"
##### Issue type
Bug report 🐛

##### Description
When changing the active Scene Collection, `obs-websocket` will cease emitting the `TransitionBegin` event.

##### Steps to reproduce and other useful info
1. Load OBS
2. Verify receipt of the `TransitionBegin` event
3. Load a new scene collection
4. You should no longer receive the `TransitionBegin` event

Log file: https://obsproject.com/logs/s4pr

[2018-11-07 09:58] swin66 commented on #238
I've installed the unofficial 4.5 release on my OSX 10.14 with the latest rls of OBS and it works!  Note I was using a previous version of OBS and it wasn't showing up, but does now

[2018-11-07 21:05] #250 closed

[2018-11-08 19:39] Stereokroma commented on #238
Hey thank you Pat, your version is working for me on Mac! Also thank you Palakis for making this useful tool.

[2018-11-09 05:54] reedog117 opened #252 "Feature Request: UPnP support"
##### Issue type
Feature Request

##### Description
Add UPnP support so that a port can automatically be opened on a home firewall to allow traffic to obs-websocket.

[2018-11-09 14:06] iBobik commented on #178
I saw web app sending IP camera image over websockets and it performed pretty well for image like 600:400 px. I thing if it will stream something like 200:120 px it will be able to do pretty good FPS and could have much lower latency than RTMP.

[2018-11-20 02:56] haganbmj opened #253 "SetTextFreetype2Properties listed in GetVersion on 4.4.0 despite not being a valid request method"
##### Issue type
Bug Report

##### Description
See https://github.com/haganbmj/obs-websocket-js/issues/123 for original report.
As far as I can tell on both 4.3.3 and 4.4.0 `SetTextFreetype2Properties` is reported as a valid method when calling `GetVersion`, despite it not existing at the 4.4.0 tagged commit.

https://github.com/Palakis/obs-websocket/blob/master/src/WSRequestHandler.cpp#L117

The

[2018-11-25 07:39] Bangybug commented on #234
You can rebuild OBS Studio and comment "show();" method calls out window-basic-main.cpp, also add "mainWindow->hide();" call in obs-app.cpp after "mainWindow = new OBSBasic();". This obs studio will start without any windows. You will only see a tray icon, if you double click it, it will open the main window.

I'm working my way towards detaching the UI in OBS Studio. It's not complete and is quit

[2018-11-25 11:41] Kelin2025 commented on #234
@Bangybug sounds interesting. I sent the message to your mail, can we contact?

[2018-11-26 10:13] jpietek commented on #234
@Bangybug looks interesting, thanks. For my use case it would be enough to run the OBS MultiviewWindow instead of the whole OBSBasic, but I'm not sure if it's possible to run just the Multiview Projection or is it tied up in the code to OBSBasic. Right now I just cover the Basic Window with the fullscreen Multiviewer, it works, but needs ugly workarounds, as the basic windows still blocks some sou

[2018-12-02 22:01] EmptySora commented on #217
It seems that for some reason this is fixed on the [4.x-current](https://github.com/Palakis/obs-websocket/blob/4.x-current/src/WSRequestHandler_SceneItems.cpp#L40-L44) branch, but not on the [master](https://github.com/Palakis/obs-websocket/blob/master/src/WSRequestHandler_SceneItems.cpp#L43-L47) branch.
If you either build from the 4.x-current branch or use the [installers/binaries](https://githu

[2018-12-04 14:25] CSMBY opened #256 "API for change streamEncoder.json in the current profile"
##### Issue type
Feature request

##### Description
Sometimes it's needed to change encoder settings. It would be great if there was an API for changing the encoder settings, like SetStreamingSettings/GetStreamSettings for changing service.json in the current profile.

[2018-12-05 08:15] Palakis commented on #253
...damn

[2018-12-05 19:07] haganbmj commented on #253
Yeah, not exactly sure how that got there.

[2018-12-10 19:25] Lanpingner opened #257 "Get the list of Sources"
##### Issue type
Coding and I have no idea how to get the list of the sources

##### Description
Hi everyone I am currently making a small program. And I would like to get the list of Sources in a Scence

##### Technical information
- **Windows10** :
- **22.0.2 x64** :

##### Development Environment
*I am working in Visaul Basic (vb.net)

[2018-12-12 12:22] CSMBY commented on #257
You can use GetSceneList, each scene will contain a list of sources

[2018-12-17 15:12] Lanpingner commented on #257
I found a way but my problem is thats only can show if i give the number of the source.
Do you know I can show all the sources.
here is my code
0 mean the first socues I want to list out all
`For Each scene In obs.ListScenes
ListBox2.Items.Add(scene.Items.ToList.Item(0).SourceName.ToString)
Next`

[2018-12-18 20:24] djardine opened #258 "Add recording filename to StartRecording/StopRecording response"
##### Issue type
Feature request

##### Description
Would to be possible to add the filename (and path?) or the recorded file to the response of StartRecording and/or StopRecording? Better yet, how about passing in a filename to save the recording to when calling StartRecording? Thanks!

[2018-12-20 01:06] Lange opened #259 "from-scene and to-scene in TransitionBegin are always empty strings when "Duplicate Scenes" is enabled"
##### Issue type
Bug report 🐛

##### Description
`from-scene` and `to-scene` properties of the `TransitionBegin` event are always empty strings when "Duplicate Scenes" is enabled.

##### Steps to reproduce and other useful info
Turn on the "Duplicate Scenes" feature. Then, perform a scene transition and inspect the data emitted with the `TransitionBegin` event. Observe that `from-scene` and `to-sc

[2018-12-21 02:32] Kelin2025 opened #260 "Publish filters"
##### Issue type
Feature request

##### Description
Hi, you guys do a great work but there are 2 months since [this PR](https://github.com/Palakis/obs-websocket/pull/221) have been merged and there is still no release. Can you publish it? I need opportunity to work with filters asap

[2018-12-23 16:49] Palakis commented on #260
A release is on its way.

[2018-12-23 16:49] #260 closed

[2018-12-25 18:46] Lange commented on #115
I'd also like the `StreamStatus` event to include the `Frames missed due to rendering lag` and `Skipped frames due to encoding lag`.

[video_output_get_skipped_frames](https://obsproject.com/docs/reference-libobs-media-io.html#c.video_output_get_skipped_frames) seems relevant.

[2018-12-27 15:32] thermidorthelobster commented on #238
Newbie here I'm afraid. I've installed obs-websocket using the 4.5.0 link above. It appears fine at the OBS end, but when using BitFocus Companion (1.2.0), obs-websocket doesn't appear to be passing information correctly to Companion - e.g. all dynamic variables are returning "undefined" and the only action I can take is Change Scene. Other Companion users don't seem to have this issue; any idea w

[2018-12-27 18:40] progrium commented on #238
Sounds like a separate issue. Might want to make another issue with more information.

[2018-12-28 15:13] thermidorthelobster opened #264 "Incompatibility with 4.5.0 & Bitfocus Companion on Mac"
##### Issue type
Suspected bug report - but could be within Bitfocus Companion - unconfirmed.

##### Description
Using obs-websocket to interface between OBS and Bitfocus Companion on MacOS. I had to use 4.5.0 as 4.4.x won't load on Mac (see bug report elsewhere).

Companion can control OBS through obs-websocket, but all Dynamic Variables returned to Companion appear as "undefined"; Companion only

[2018-12-30 22:56] Palakis commented on #260
@Kelin2025 4.5.0 is out! https://github.com/Palakis/obs-websocket/releases/tag/4.5.0

[2018-12-31 01:49] Kelin2025 commented on #260
@Palakis yay, thanks a lot! Sad that it requires OBS **22+** but thanks!

[2019-01-01 17:20] #82 closed

[2019-01-01 17:30] Palakis commented on #195
Should be fixed in 4.5.0.

[2019-01-01 17:30] #195 closed

[2019-01-01 17:31] #194 closed

[2019-01-01 17:31] #188 closed

[2019-01-01 17:31] #186 closed

[2019-01-01 17:31] Palakis commented on #174
SLOBS has its own WebSockets API now. Closing this.

[2019-01-01 17:31] #174 closed

[2019-01-01 17:32] #172 closed

[2019-01-01 17:40] #123 closed

[2019-01-01 17:41] Palakis commented on #110
@RainbowEK still having this issue?

[2019-01-02 12:52] eyalcohen4 commented on #179
Does someone work on this? can I help somehow?

[2019-01-03 11:14] Palakis commented on #264
@thermidorthelobster

What are the variables?

[2019-01-03 11:14] Palakis commented on #253
Should be fixed in 4.5.0.

[2019-01-03 11:14] #253 closed

[2019-01-03 11:45] thermidorthelobster commented on #264
OK, you probably get the idea that I'm not a technically-oriented user. I've attached a screenshot from OBS which illustrates what I mean. However, subsequently I tried connecting directly to obs-websocket through 127.0.0.1:4444 from a browser. I get "the server unexpectedly dropped the connection." Presumably this means this is more likely to be a config issue than a bug.
![obs](https://user-imag

[2019-01-03 12:03] thermidorthelobster commented on #264
Having tried this dozens of times I'm now getting valid variables passed back to Companion. I think this is user error rather than a bug.

[2019-01-03 12:03] #264 closed

[2019-01-03 12:17] Palakis commented on #264
@thermidorthelobster These variables are provided in the `StreamStatus` event. Once you start streaming and/or recording, this event is emitted every 2 seconds or so. Start streaming and/or recording while Companion is connected and these DV should get populated.

[2019-01-03 14:23] Palakis opened #267 "[4.6 dev] Debug logging doesn't work"
For some reason, in the new server, requests are not printed to obs' main log while debug logging is enabled.

[2019-01-13 16:49] Chewza opened #269 "Settings per Profile"
##### Issue type
Feature Request

##### Description
Store OBS-WebSocket settings per profile instead of globally.

##### Steps to reproduce and other useful info
I run two instances of OBS, one in a Production profile, and another in a Monitor profile on a machine that streaming operators access via automation, and don't have physical access to.
The Production profile contains all of our scenes an

[2019-01-18 05:52] djardine opened #270 "obs-websocket not working with OBS NVENC beta"
##### Issue type
Bug

##### Description
I've been doing some testing with the OBS beta build that integrates some of the Nvidia Shadowplay-esk features (direct NVENC video encoding from the gpu render buffer instead of having to run frame data through system DRAM), but it seems like obs-websocket does not run with the beta build of OBS (doesn't show up in the dropdown menu). I'm not sure if this h

[2019-01-18 05:55] Palakis commented on #270
@djardine Copy Qt5Network.dll and Qt5WebSockets.dlld from `obs-plugins\64bit` to `bin\64bit` (paths relative to your OBS install folder). Should do the trick.

[2019-01-18 08:31] djardine commented on #270
You the man!

[2019-01-18 08:31] #270 closed

[2019-01-19 06:19] paul-lrr opened #271 "Get Currently Selected Item"
##### Issue type
Feature request

##### Description
Would it be possible to find out what source the user has currently selected (either in the sources list or selected on the stage)? Ideally there could be be a `SceneItemSelected` event emitted with the source name when a source is selected and maybe also a `GetCurrrentItem` request that returns the currently selected source

[2019-01-21 16:34] chiefstank commented on #125
Safe to say that this won't be updated anymore.

[2019-01-21 17:14] Palakis commented on #125
@chiefstank ?

[2019-02-03 14:33] Palakis opened #273 "Feature Request: Allow 3rd-party OBS plugins to expose RPC methods"
Provide other OBS plugins the ability to register RPC methods in obs-websocket and take advantage of its WebSocket server.

[2019-02-03 14:37] Palakis opened #274 "Outputs API"
Ability to control OBS outputs, be it streaming, recording, NDI, decklink, ...
Bonus: ability to create and delete additional outputs dynamically.

[2019-02-03 14:44] #208 closed

[2019-02-04 13:19] Palakis opened #275 "Feature Request/Todo: Events Pub/Sub"
- Major refactor of the events subsystem
- Ability for clients to subscribe to specific event topics
- Will make things easier for source-specific events (like audio level events or update events)
- Topic templates with parameters and setup/teardown methods: only setup event publishers when actually needed
- Current event types become default topics and can be unsubscribed

[2019-02-05 11:20] Palakis opened #276 "RPC Request Handler refactor"
- Tear `WSRequestHandler` apart to keep the core handler small
- Split request type implementations into smaller handler classes
- Provide more request validation methods (e.g. params type check)
- Standardized errors (const values instead of hardcoded strings in request handlers)
- Provide the ability to register additional methods at runtime (required by #273)

[2019-02-08 12:36] gavalierm opened #277 "websocket server close connection after send http handshake?"
##### Issue type
Bug

##### Description
I use arduino websocket-fast library to try to connect websocket server on obs, but if i send standard handshake http header to upgrade connection, server imediatelly close the connection without any response. I try my library use on echo.websocket.org and works perfect. So i dont understand which headers and values on it obs-websocket server expect and how

[2019-02-10 17:33] Huesdon opened #278 "Plugin does not load on OBS RC1"
##### Issue type
Bug report

##### Description
*I installed OBS Studio 23.0 Release Candidate 1, plugin no longer loads or appears in the tools menu.

##### Steps to reproduce and other useful info
install RC 1

##### Technical information
-Windows 10
-OBS Studio 23.0 Release Candidate 1

[2019-02-10 20:28] Palakis commented on #278
Download the Zip archive of the plugin (under Releases) and extract its content to `C:\Program Files\obs-studio`

[2019-02-10 21:37] Vextalex commented on #278
Hey. I have the same problem, no longer working after installing OBS Studio 23.0 Release Candidate 1.

I already tried the thing you mentioned, didn't help.

OBS Studio 22.0.2 works without problems, but I would like to use OBS Studio 23.0

[2019-02-10 23:30] camalot commented on #278
All it says in the logs is:

`17:20:27.004: Module '../../obs-plugins/64bit/obs-websocket.dll' not loaded`

[2019-02-10 23:49] Huesdon commented on #278
I tried both the installer and the zip file. The plugin dll is in there, just not loading.

[2019-02-14 09:13] BlackyWhoElse commented on #278
Have the same problem

[2019-02-14 17:56] Huesdon commented on #278
You on RC1 or the new RC2?

[2019-02-14 18:42] dodgepong commented on #278
If you installed RC1, you will need to delete the `bin/64bit/Qt5Network.dll` file in your OBS folder. This was included by accident in RC1.

[2019-02-15 07:10] camalot commented on #278
what @dodgepong said does indeed fix it, and it is also fixed in RC2

[2019-02-15 09:44] BlackyWhoElse commented on #278
Just updated to RC2. Works fine now

[2019-02-15 16:29] Huesdon commented on #278
Resolved as per above.

[2019-02-15 16:29] #278 closed

[2019-02-20 02:45] PCMACHero opened #280 "Volume "0-1" correspondence to "-infinity to 0""
##### Issue type
Other?
Clarification needed.

##### Description

The websocket gets and sets volumes on a 0-1 range, meaning 0 is mute and 1 is full volume. This is different than how OBS itself identifies volume levels. OBS uses "negative infinity to 0" to represent the mute-max range. I could convert it, but the problem is that it isnt linear. What I mean is that the correspondence has some kin

[2019-02-24 06:24] whytheheckme commented on #269
I have this exact need as well. Thank you!

[2019-02-25 08:56] Palakis commented on #237
@pantonvich What do you mean by "source inside a source"?

[2019-02-25 14:16] pantonvich commented on #237
sorry that should be source inside a scene inside a scene - you don't have access to that source. so if you have two scenes A & B. scene A has source A (like a browser or text(gdi+)). scene B has scene A (and source A). When scene B is active you can't hide/un-hide source A. If scene A is active then you can hide/un-hide source A. Back when I looked at this the issue is that obs doesn't provide ac

[2019-02-26 07:32] miaotmac commented on #179
Does any update?

[2019-03-04 00:33] Huesdon opened #281 "SetSourceFilterSettings on Scenes"
##### Issue type
**Feature request**

##### Description
Ability to set the setting of filters on scenes (nested scene used as a source) identical to SetSourceFilterSettings but for scenes used as sources in parent scenes.

You can apply a filter in the same way but cannot set the filter settings as you can on a source.

**Use case**, I am doing some automation around visibility of the camera. This

[2019-03-08 14:16] eddedre commented on #26
I would also love this feature. Has there been plans on revisiting this request?

[2019-03-16 18:29] cthurston commented on #119
For my case, I would love that the SaveReplayBuffer wait until the file is written then return the file path.

[2019-03-18 11:11] sqr commented on #217
No matter how much I try, I still get errors trying to work with SetSceneItemProperties...

My code looks like this:

obs.send('SetSceneItemProperties', { 'scene-name' : 'Escena', 'item' : 'Imagen', 'position' : { 'x' : 300 } });

and I get this error

![image](https://user-images.githubusercontent.com/1871860/54526306-a8e41800-4976-11e9-92a3-f7cbee457f1b.png)

I am able to change the streaming se

[2019-03-24 11:36] Hideman85 opened #284 "Obs linux don't load module"
Same as this issue: https://github.com/Palakis/obs-websocket/issues/58
This is the log file: https://pastebin.com/RRVBBsr1
Install logs:
[code]
Found locales in /usr/share/obs/obs-plugins/obs-websocket/
But no way to locate obs-websocket.so

[2019-03-25 19:18] Hideman85 commented on #284
I found obs-websocket.so in /lib/obs-plugins but it does not loaded!
I found this plugin https://github.com/bazukas/obs-linuxbrowser
I install it like they said in $HOME/.config/obs-studio/plugins/ and it works.
I copy your lib here but nothing, try to make the same directories nothing to, try by rename as libobs-websocket.so nothing too.
I also try to compile from your source but missing `#includ

[2019-03-26 10:08] lee-brown opened #285 "Where to find item id"
##### Issue type
Other

##### Description
I'm not really sure if I'm missing something or the API is missing something but to me it looks like there's no way to find item.id. item.id is required for DeleteSceneItem and DuplicateSceneItem. I've only seen item.id mentioned for DeleteSceneItem and DuplicateSceneItem as well. Googling and searching through the OBS UI didn't help either.

##### Technic

[2019-03-27 01:29] rollykaunang commented on #269
Please adding this feature.. Thank You So Much!

[2019-03-27 23:08] macharborguy opened #286 "SetSceneItemProperties not accepting scale values"
Using the latest release candidate, 4.5, of obs-websocket

I am trying to simulate a zoom-in-out effect with obs-websocket and obs-websocket-js (posting this issue over on the obs-websocket-js GitHub as well to cover all my bases)

I am sending the following data with SetSceneItemProperties...

`{
item : 'SourceName',
position : {
x : <number value>,
y : <number value>,
},
scale : {
x : <number va

[2019-04-03 14:53] Huesdon commented on #281
Palakis, please drop a comment if this will receive any attention.

[2019-04-03 15:37] Palakis commented on #281
Scenes are sources, so you should be able to use source management commands on scenes. Can you tell me which ones don't work with scenes?

[2019-04-03 16:00] Huesdon commented on #281
I can successfully create a fade in/out with the code below but it does nothing when pointed at a scene...

[code]

In order to do this with my camera it has to do the calls in a fast loop on multiple items, if I could do it on a nested scene with would be much more viable.

[2019-04-03 18:01] Huesdon commented on #281
Oh hmm, based on your comment I tried to make a new test... .and it seems to be working..   :/
I will close this after a bit more testing.

[2019-04-03 18:13] Huesdon commented on #281
Ok, guess I was on crack, thanks for the comment Palakis.

For the record, filter settings set via obs-websocket do in fact affect normal sources as well as scenes used as sources.

[2019-04-03 18:13] #281 closed

[2019-04-09 13:03] Palakis opened #288 "Feature Request/Todo: Callback & Signals API"
##### Issue type
Feature request

##### Description
Sources expose callbacks (that can be called) and signals (that can be emitted). These sources can expose additional functionality through these, so it could be useful to expose it to users (for example: restart a media source).

##### Tasks
- [ ] Part 1: Callback API
- [ ] Part 2: Listen for signals (depends on #275)

[2019-04-09 20:49] DerFabsee opened #290 "OBS crashes when port already in use"
![Anmerkung 2019-04-09 224923](https://user-images.githubusercontent.com/45405525/55834265-c9d4fe80-5b19-11e9-8470-72d3d2700869.png)
##### Issue type
Bug report

##### Description
When launching a second instance of OBS, it crashes as the port is already in use.

##### Steps to reproduce and other useful info
Start OBS
Start a second instance
OBS Crashes

##### Technical information
- **Windows**

[2019-04-10 10:29] Rushmead opened #291 "Plugin not loading on OBS 23.1.0 Windows"
##### Issue type
Bug report

##### Description
The latest version of the OBS Websocket plugin is not being loaded on my installation of OBS 23.1.0 on windows. The Log simply says "Module '../../obs-plugins/64bit/obs-websocket.dll' not loaded"

##### Steps to reproduce and other useful info
Heres a log file: https://pastebin.com/bdXPvjKZ I don't really know any steps to re-produce

##### Technical

[2019-04-10 20:14] catb0t commented on #291
how did you install it?

[2019-04-11 00:29] Rushmead commented on #291
Using the windows installer

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-11 11:15] Promic2 commented on #291
not the only one
i have try the windows installer. and the ZIP
i only get Module '../../obs-plugins/64bit/obs-websocket.dll' not loaded in log
OBS-studio 23,0,1 64bit

[2019-04-11 21:35] Jaxel opened #292 "Unable to get Authenticate working in JS at all..."
I'm unable to get authentication working at all in my JavaScript.
I'm using the SHA256 library here: https://github.com/emn178/js-sha256

When authentication is required, it produces a prompt:

	if (data['authRequired'])
	{
		var pass = prompt("This OBS Websocket server requires a password:");

		if (pass != null)
		{
			var secret_string = pass + data['salt'],
				secret_hash = sha256(secret_stri

[2019-04-13 16:33] CSMBY commented on #291
All is working fine (Windows 10 Home 1809, OBS 23.1 64 bit, obs-websocket 4.5.1)

[2019-04-18 09:53] Jaxel commented on #292
I am still completely lost on this after a week... please help.

[2019-04-18 17:00] Genteure commented on #292
Maybe this can help you: https://github.com/t2t2/obs-tablet-remote/blob/7e7048d68f12cc00c532cbd59b71f8eaf2bb3f31/src/obs-remote.js#L81-L106

[2019-04-18 18:12] Jaxel commented on #292
Hmm... that references `sha.js/sha256`, but I can't find that JS anywhere in the package.

[2019-04-18 18:58] rivafarabi commented on #291
I have the same problem, is there any fix for this yet?

[2019-04-18 19:00] Jaxel commented on #292
I've tried several different libraries now, and can never get it to work.

I've even used online generators to check my code, and everything matches up... yet Auth still fails.

[2019-04-18 19:05] HeyITGuyFixIt commented on #292
t2t2 has sha.js as a dependency. It must be imported from somewhere else.

[2019-04-18 19:09] Jaxel commented on #292
Either way... I've tried multiple sha256 libraries... and my code still isn't working.

[2019-04-18 19:09] HeyITGuyFixIt commented on #292
Found it here: https://www.npmjs.com/package/sha.js

[2019-04-18 19:12] Jaxel commented on #292
I don't use NodeJS... so I have no idea how to implement that.

[2019-04-18 19:25] Jaxel commented on #292
`	var secret = btoa(sha256(this.passwd + data['salt'])),
		response = btoa(sha256(secret + data['challenge']));`

This should work no matter what sha256 library I use. sha256 is a defined standard. Checking the results using online generators is telling me that I'm getting the right results. But authentication continues to fail... and I have no idea why.

[2019-04-18 19:31] Jaxel commented on #292
Let me try to provide some more information... hopefully someone can help me figure this out:

This is the code:
	var secret_string = this.passwd + data['salt'],
		secret_hash = sha256(secret_string),
		secret = btoa(secret_hash),
		auth_response_string = secret + data['challenge'],
		auth_response_hash = sha256(auth_response_string),
		auth_response = btoa(auth_response_hash);

And this is the re

[2019-04-18 19:40] HeyITGuyFixIt commented on #292
How are you using it to authenticate?

[2019-04-18 19:41] Genteure commented on #292
You can also use [obs-websocket-js](https://github.com/haganbmj/obs-websocket-js). It's a well maintained library ready to use, with the ability to use it without nodejs and npm. [prebuild version here](https://github.com/haganbmj/obs-websocket-js/blob/v3.0.0/dist/obs-websocket.min.js)

[2019-04-18 19:43] Jaxel commented on #292
this.sendRequest('Authenticate', {'auth': auth_response});

which calls

	sendRequest: function(request, params = {})
	{
		let args = { 'request-type': request, 'message-id': request };
		this.socket.send(JSON.stringify({...args, ...params}));
	}

this roughly translates to:

	let args = {
		'request-type': 'Authenticate',
		'message-id': 'Authenticate'
	};

	let params = {
		'auth': auth_response

[2019-04-18 19:47] Jaxel commented on #292
I have no need for this library. Literally every single one of my other functions works fine, is done and is already written. The ONLY thing that doesn't work is authentication if required.

[2019-04-18 20:27] dodgepong commented on #291
Check to make sure you don't have a file called `Qt5Network.dll` in your in your `obs-studio/bin/64bit` folder. If you do, go ahead and delete it (it's left over from one of the v23 release candidates).

[2019-04-18 20:33] Genteure commented on #292
If you already spent a week and still has no clue why, you might as well spent one hour switch from your own implementation based on native websocket to other people's work that is guaranteed working. I think this definitely is an option when running into problems that one can't figure out why.

---

And here's your problem:

The value you are doing base64 on is string value, not binary bytes.

qu

[2019-04-18 20:38] Jaxel commented on #292
Hmm... I changed it to this:

	var secret_string = this.passwd + data['salt'],
		secret_hash = sha256.array(secret_string),
		secret = btoa(secret_hash),
		auth_response_string = secret + data['challenge'],
		auth_response_hash = sha256.array(auth_response_string),
		auth_response = btoa(auth_response_hash);

But it's still failing authentication

[2019-04-18 20:49] Genteure commented on #292
[`btoa`](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/btoa) does not support encoding of binary array, it is automatically converted to string (like `"1,2,3,4,5"`).
Use a converter like [this](https://gist.github.com/jonleighton/958841) I found on Google. The code I'm linking require a `ArrayBuffer` as argument, `js-sha256` have a method `sha256.arrayBuffer(value)` re

[2019-04-18 20:52] Jaxel commented on #292
Ah... thank you. That appears to have been my issue with all the other libraries too. BTOA not supporting binary arrays. Instead of fetching a binary sha256, I fetched a string sha256 and now its working!

Thank you very much for your help!

[2019-04-18 20:52] Jaxel commented on #292
BTW. I ended up using this library: https://anmar.eu.org/projects/jssha2/

[2019-04-19 08:22] Promic2 commented on #291
Thanks that fix it

[2019-04-19 10:42] Rosuav opened #296 "Way to query OBS canvas size?"
##### Issue type
Question, possible feature request

##### Description
Is there a way to find out the OBS canvas size? Placement of all widgets is by pixels but the canvas size doesn't seem to be given anywhere.

##### Technical information
- **Operating System** : Linux
- **OBS Studio version** : 19.0.3, 23.0.2

[2019-04-19 16:07] #242 closed

[2019-04-19 16:09] Palakis commented on #296
@Rosuav it is indeed a feature request. This will potentially be released in 4.7, unless someone can take care of this for inclusion in 4.6.

[2019-04-19 16:22] Palakis commented on #244
@reedog117 Uh wait, that's an issue with OBS itself, not obs-websocket.

[2019-04-19 16:38] Palakis commented on #244
@reedog117 And I can't reproduce this issue in OBS 23 on Ubuntu. I have three scenes, opened the settings dialog of a Media Source in scene 2, switched to Scene 1 (which doesn't have said media source) through obs-websocket, changed a value in the Media Source settings and hit "OK": no crash.

[2019-04-19 17:16] #267 closed

[2019-04-19 17:37] Rosuav commented on #296
Okay, cool. At least I don't have egg on my face for being blind (which is a weird mixed metaphor, but where's the fun in unmixing them?). For now, I'll just hard-code it in my app.

[2019-04-19 18:17] #183 closed

[2019-04-19 21:21] #290 closed

[2019-04-20 23:04] #48 closed

[2019-04-20 23:04] #75 closed

[2019-04-20 23:45] Palakis commented on #217
Just tested this, looks fixed in the latest 4.x-current.

[2019-04-20 23:46] Palakis commented on #217
@haganbmj `item` is a string containing the scene item name, not an object. Would this mean there's been a docs/api breaking change?

[2019-04-20 23:51] Palakis commented on #217
It's possible I screwed up a bit at some point when syncing between master and 4.x-current. Apologies for this.

[2019-04-20 23:51] #217 closed

[2019-04-21 08:05] Palakis commented on #233
@aaarghhh I tested this again and I don't see major issues with it

Here's what I did, both for Simple and Advanced output modes:

1. Create two folders: "OBS Test 1" and "OBS Test 2" (simple names for simplicity, the next steps will assume these are absolute paths)
2. Through the settings dialog, set the recording path to "OBS Test 1"
3. Start recording
4. Notice the recorded file in "OBS Test 1"

[2019-04-21 08:06] Palakis commented on #233
@aaarghhh Gonna make some changes to the documentation of SetRecordingFolder as well as simplify a bit how the recording path is set in OBS settings (most notably: set the path for Simple and Advanced modes at the same time)

[2019-04-21 08:13] #233 closed

[2019-04-21 08:19] Palakis commented on #127
@haganbmj Tested this on the latest `4.x-current` and it works on my end. Closing this.

[2019-04-21 08:19] #127 closed

[2019-04-21 08:24] Palakis commented on #206
@JustinLove Seems fixed on the latest `4.x-current`. I think this is partly thanks to the new server backend that will be introduced in 4.6 and doesn't use Qt's WebSocket server.

[2019-04-21 08:24] #206 closed

[2019-04-21 11:19] aaarghhh commented on #233
Thank you for your feedback. I want to tell that the issue is related to a condition that I found a long time ago so I don't rememeber when it happened.  The project I built was a cross platform app which can record in win/linux environment. If I didn't forgot something the bug happend only in one environment. I have to check which one was affected.

I think that the issue could be related to the

[2019-04-21 11:23] Palakis commented on #233
@aaarghhh Tested this on Ubuntu 18.04

[2019-04-21 12:26] #168 closed

[2019-04-21 12:32] Palakis commented on #236
@congoblue Could you show me an example of a bad timecode? Like OBS recording timer vs. GetStreamingStatus result

[2019-04-21 15:42] #115 closed

[2019-04-21 15:47] #244 closed

[2019-04-21 15:58] Palakis commented on #286
It's a limitation of the UI field that shows the width in the Edit Transform dialog. Internally, everything is set and fetched properly and it should be the case as well in the rendering.

[2019-04-21 15:58] #286 closed

[2019-04-21 16:01] Palakis commented on #258
Sure!

Could be possible, I just need to check if this breaks anything with OBS' recording UX.

[2019-04-21 16:04] Palakis commented on #258
What I believe should be implemented:

- Provide the current recording filename in:
    - The response from StartRecording and StopRecording
    - Recording events
    - StreamStatus and Heartbeat events
- Ability to force a specific recording file path when calling StartRecording

[2019-04-21 22:59] macharborguy commented on #286
Sadly, that doesnt seem to be the case.   To verify, I created a new scene collection, added a single image into the scene.  I then added in a bare-minimum script to adjust the size and position of the image.  The physical rendering of the object IS increased to the 90001 x 90001 dimensions once the SetSceneItemProperties command is sent.

I tested this with both obs-websocket-js as well as native

[2019-04-21 23:10] macharborguy commented on #286
Oddly enough, testing on a completely separate install of OBS on another PC, the same thing happens, but the size set is 56000 x 56000, instead of 90001 x 90001.  The visible rendering of the item is once again adjusted to that specific size.  I can scroll the item manually into view and it is indeed that extremely large size

[2019-04-22 14:29] #269 closed

[2019-04-22 16:55] Palakis commented on #271
@paul-lrr It's a quick win, currently implementing this as item select/deselect events. A `GetSelectedItem` method is not possible yet, as far as I found out in the OBS' API docs.

[2019-04-22 16:59] #271 closed

[2019-04-22 17:55] macharborguy commented on #286
Consider this closed.  I looked at the Comments.json file and the description of the Scale specifically stated "the scaling FACTOR", rather than what I had assumed which was a direct size, so in the above example code I posted, I was assuming the size would be 500x500, instead of 500x x 500x.

THe Protocol document may need an update to specifically state it is a "scale factor" instead of being am

[2019-04-22 17:56] #285 closed

[2019-04-22 18:47] macharborguy opened #309 "Attempting to set "bounds type" returns Invalid error"
I am attempting to set the bounds type of a source item.  Using any of the valid strings...

"OBS_BOUNDS_STRETCH", "OBS_BOUNDS_SCALE_INNER", "OBS_BOUNDS_SCALE_OUTER", "OBS_BOUNDS_SCALE_TO_WIDTH", "OBS_BOUNDS_SCALE_TO_HEIGHT", "OBS_BOUNDS_MAX_ONLY" and"OBS_BOUNDS_NONE"

...all return an error message showing the following...

`
{error : {
    bounds : {
        type : "invalid"
    }
} status : "er

[2019-04-22 22:58] Huesdon opened #310 "Best Practice on Heavy Usage?"
**##### Issue type**
Question (Usage)

**##### Description**
I am using the sockets to animate a fade of a source. Works good., however,
after some time obs becomes unresponsive and crashes when you click on anything within the obs window.

**##### Steps to reproduce and other useful info**
I suspect I am overwhelming the plugin/obs as I am making many calls per second to get a smooth fade.

**###

[2019-04-22 23:03] Huesdon commented on #291
You should close out the issue here if you are good...

[2019-04-22 23:06] Huesdon commented on #292
Please close this issue then.

[2019-04-23 09:21] Palakis commented on #310
@Huesdon obs-websocket before 4.6 use Qt's WebSocket server, which processes requests on the UI thread. 4.6 should fix this, because the new server implementation (using websocketpp) has its own thread for requests processing.

[2019-04-23 09:22] #292 closed

[2019-04-23 09:29] Palakis commented on #309
@macharborguy Found the cause https://github.com/Palakis/obs-websocket/blob/4.x-current/src/WSRequestHandler_SceneItems.cpp#L210-L211

[2019-04-23 09:32] #309 closed

[2019-04-23 15:57] Huesdon commented on #310
Ah ok, in fairness, I think I was hitting way too hard. Started with 100 calls to the socket per second. I've dialed it down to 10 per second and the fade isn't too bad.

[2019-04-23 15:59] Huesdon commented on #310
W/respect to my question, what you would say is the best practice when using the socket in this manner?
Currently I am connecting and disconnecting on each call, so 10 times per second.

[2019-04-23 17:13] macharborguy commented on #310
I would suggest making a single connection to the socket server, then doing all the calls within that connection.  I would also suggest only making the SEND call once per frame that you are broadcasting at at the very most.  If you are doing 60fps, at most only send 60 calls per second, so just around 16-17ms between calls.  For 30fps it would be 33ms between each call.  You could get away with do

[2019-04-23 17:27] Huesdon commented on #310
Here is the call atm....

  function podiumFadeDown() {
    setPodiumOpacity(96); // first one is free....
    // set values for first run in the loop
    var degree = 92;
    var interval = 100;
    var i = 0;
    while (i < 24) { // 25 less the one we did above
      // schedule future opacity fade calls and populate podium timers reference array
      stream.podiumfadeTimers.push(setTimeout(set

[2019-04-23 17:42] Huesdon commented on #310
Oh and @macharborguy, w/ respect to multiple sources being animated this way. I created a camera "podium" scene and used that as a source w/ opacity filter on it there. That allowed me to have one call and affect several sources at once.

[2019-04-23 20:44] macharborguy commented on #310
@Huesdon yes, ive used that method within the past few weeks on one of our team broadcasts in order to fake a camera-zoom-out of a composited scene with multiple layers to it.

Actual usage, im in the R&D video area at the top center -> https://www.twitch.tv/overboredgaming/clip/CheerfulUglyKleeFailFish?filter=clips&range=30d&sort=time

Also notice when I look off camera before the zoom and music

[2019-04-23 22:19] Huesdon commented on #310
just ran with the above code for a couple hours and the plugin didnt choke. I run the animation a lot because its triggered when I detect voice on the mic.

[2019-04-24 11:44] Rushmead commented on #291
This is issue is technically fixed, there is just a work-around. I'm sure something could be done to prevent the need for users to manually delete the dll file?

[2019-04-25 11:26] Palakis commented on #237
Did some testing with the latest dev version: the scene item events refactor fixed the issue of scene item events not triggered when an item belongs to a group.

Now I need to check which request types don't go along well with groups.

[2019-04-25 15:27] Palakis opened #311 "SaveReplayBuffer: provide last replay path in response"
Call "get_last_replay" right away and provide its result  as a `lastReplayPath` response property.

[2019-04-28 12:40] lebaston100 opened #314 "duration wrong in TransitionBegin for "Cut" and "Stinger" Transitions"
##### Issue type
Bug report

##### Description
When using a "Cut" Transition the duration in "TransitionBegin" is the value from the last chosen transition that has a real duration like fade.
Besides that the protocol.md states that the event shouldn't even be emitted for a "Cut" transition:

For the Stinger transition it's the same. The duration value is neither 0 nor the real lenght of the sting

[2019-04-28 15:10] Palakis commented on #314
I think I see what's going on. Thanks for reporting this.

It's because I refactored how the plugin listens for transition events. For consistency, I think I'll leave it as is and remove that bit from the docs.

[2019-05-04 10:29] #169 closed

[2019-05-06 21:25] Palakis commented on #237
Ran some tests and all scene item events trigger properly for scene items nested in a group. However, scene item requests are indeed broken when targeting a scene item contained within a group.

To do list:

- [ ] Add events to signal when a scene item is added to/removed from a group
- [ ] Source info (in event data and request responses): add a `children` property containing a list of sub-items

[2019-05-08 16:31] Lange opened #318 "SetSceneItemProperties parameters are all marked as required"
##### Issue type
Bug report

##### Description
[`SetSceneItemProperties`](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setsceneitemproperties) parameters are all marked as required, even though they are optional.

This causes the typedefs generated by `obs-websocket-js` to reject valid code such as this, because it thinks every single parameter is required.:

[2019-05-09 13:52] #318 closed

[2019-05-09 13:53] Palakis commented on #318
@Lange Thanks, should be fixed now

[2019-05-16 21:57] jeffmikels opened #325 "Mac Mojave Build sharing?"
##### Issue type
OTHER

##### Description
Does anyone have a mac Mojave binary they would be willing to share with me? I COULD build it myself, but if someone already has done so, I don't need to re-invent the wheel.

[2019-05-17 10:10] IceFlom opened #326 "Request "ReorderSceneItems" causes OBS crash"
##### Issue type
Bug Report

##### Description
There is a problem with the request "ReorderSceneItems". After using this request, sources will be reordered, but immediately after that OBS is crashing.
OBS crash report is attached.

##### Steps to reproduce and other useful info
For reproduction, send a JSON with a list of all sources in a different order. The sources have only the names as data. T

[2019-05-19 08:06] #237 closed

[2019-05-20 09:45] Palakis commented on #178
Fixed by #313, gonna be released with 4.6

[2019-05-20 09:45] #178 closed

[2019-05-20 19:03] Lange opened #328 "Heartbeat docs reference non-existent Stats type (should be OBSStats)"
##### Issue type
Docs issue

##### Description
`Heartbeat` docs reference non-existent `Stats` type (should be `OBSStats`)

##### Steps to reproduce and other useful info
Compiling the new typedefs for `obs-websocket-js` fails, due to this reference.

##### Suggested fix
Change this line to use `OBSStats`, instead of `Stats`: https://github.com/Palakis/obs-websocket/blob/061ab12b10e67506a09df0eb1c

[2019-05-20 19:07] Lange opened #329 "SceneItemTransformChanged docs reference non-existent SceneItemProperties type (should be SceneItemTransform)"
##### Issue type
Docs issue

##### Description
`SceneItemTransformChanged` docs reference non-existent `SceneItemProperties`  type (should be `SceneItemTransform`)

##### Steps to reproduce and other useful info
Compiling the new typedefs for `obs-websocket-js` fails, due to this reference.

##### Suggested fix
Change this line to use `SceneItemTransform`, instead of `SceneItemProperties`: https:/

[2019-05-20 19:14] #328 closed

[2019-05-20 19:14] #329 closed

[2019-05-20 19:15] Palakis commented on #328
@Lange Thanks, gonna retag 4.6.0 once CI regenerates the documentation.

[2019-05-20 19:15] Palakis commented on #329
@Lange Thanks, gonna retag 4.6.0 once CI regenerates the documentation.

[2019-05-20 21:02] jacobthorup commented on #214
I would like this function exposed in the OBS-websocket as well. We use OBS for live events and being able to change what monitor the program or source is going out to would open up a world of possibilities for us right now.

<img width="968" alt="OBS_WS_External Monitor" src="https://user-images.githubusercontent.com/10374837/58051593-d7fe3d80-7b0f-11e9-9f81-1b1928d3dd68.png">

You can right clic

[2019-05-20 21:40] Rosuav commented on #214
I think this would require having OBS Studio expose this functionality in its API first, as there doesn't seem to be a simple entrypoint to open one. So this may end up being a PR against OBS Studio, then a PR against OBS WebSocket, and you'll therefore have to run the latest versions of each. Is that plausible for you?

It wouldn't be too hard to hack up a proof-of-concept patch.

[2019-05-20 21:41] #156 closed

[2019-05-20 21:47] jacobthorup commented on #214
I'm not tied to any one version at this point, Just need to have control of the monitor full screen output.

I would love to try out any patch that exposed the fullscreen projector commands.

[2019-05-20 21:49] Rosuav commented on #214
Okay. I'll tackle this in a few hours, probably. If you haven't already built your own OBS from source, I'd recommend doing so, and making sure stuff works; then the patch will hopefully apply cleanly and make a small change.

Actually getting such a patch *accepted* may require more social work than technical.

[2019-05-21 02:39] Rosuav commented on #214
Here's a hack to OBS Studio to make this broadly functional:

https://github.com/Rosuav/obs-studio/tree/hack-open-projector

And here's the much simpler change to obs-websocket itself:

https://github.com/Rosuav/obs-websocket/tree/hack-open-projector

Basic POC only. Not for production use. These are not pull requests, these are **hacks** - gross hacks at that.

[2019-05-21 06:01] MichleLI opened #331 "I hope to change the properties of current scene that is streaming on obs"
please share source code for me.
I am not professional of obs.
thanks!

[2019-05-22 01:46] MichleLI commented on #314
hello. I want to control visibility option of current scene that streaming now.
can you help me?
Thanks a lot!

[2019-05-22 09:26] dream811 opened #332 "I want to change visibility of current scene that will be streaming now."
Thanks for your advice, Stephane.
I want to change visibility, transition, rotate and timeline(start time and end time) of current scene that will be streaming now.
Is it possible via node-js (obs-websocket-js 3.0.1 package)?
I need your help, please save my life!
Thanks a lot.
- **Operating System** : win 10
- **OBS Studio version** : 23.1
-** obs-websocket-js 3.0

[2019-05-22 09:27] #331 closed

[2019-05-22 11:21] MichleLI commented on #332
also I hope to create new scene and scene item with local source(mp4).
any good ideas?

[2019-05-22 14:24] MichleLI commented on #332
Hello! Dear Stephane!
Sorry, but I have urgent task, so I need your help.
If you are busy now, please share for me base code or any idea!
Thanks again!

[2019-05-23 16:10] jacobthorup commented on #214
So I'm a Noob, if you couldn't tell from my profile, I've been trying to compile a vanilla copy of OBS Studio for 2 days now. I think I'm 99% there. but I have.
I have an error on the build that is associated with "qtmaind.lib"
![qtmaind](https://user-images.githubusercontent.com/10374837/58268581-e6806b00-7d42-11e9-8c6c-2f346b3a625f.JPG)
![qtmaind error list](https://user-images.githubusercontent

[2019-05-23 18:15] Rosuav commented on #214
Hmm. I don't know anything about building on Windows. Stack Overflow answers suggest possibly adding WindowsApp.lib to your additional dependencies, but I have no idea. Might need to discuss this on OBS's own forums until you can get a vanilla build to work, and then we can discuss patches/hacks.

[2019-05-23 21:05] jacobthorup commented on #214
Success! I built your version of OBS Studio and now I'm working through the websocket build. I have to take off for the day, but I'm excited to try out the Projector screen function

What options are we going to have with this hack? Can we define which source to which monitor?

Thanks for helping out on this, I think it could be an incredibly powerful tool for live events and shoots that need some

[2019-05-23 21:15] Rosuav commented on #214
Awesome!

With the hack as it currently is, you can specify a monitor (omit for a window) and a name/title. There's no way to specify a source, but I think that wouldn't be hard to add.

To try it out, go to https://vol.rosuav.com/ and paste this into the JavaScript console:

    req("OpenProjector", {monitor: -1, name: "Windowed Projector (Preview)"})

For a fully automated setup, you'd need to h

[2019-05-25 04:23] MichleLI opened #333 "Is impossible to add sample codes in protocol.me"
I hope to add sample code block per event and request for developers
Thanks for contributers!

[2019-05-27 05:01] Jaxel opened #334 "stats['free-disk-space'] shows incorrect data"
`stats['free-disk-space']` seems to have incorrect data. It's returning the value of the free space on my C: drive... even though my recording drive is Z:. The stat is shown properly in OBS itself, but not in the websocket.

[2019-05-27 05:02] Jaxel commented on #26
+1 for SSL.

[2019-05-28 20:51] jacobthorup commented on #214
Success! I've built your hacked versions of OBS-Studio and The Web-Socket! My problem was the version of Qt I was using.

I'm trying to get the webpage and Java script, that you've supplied, to work. I'm able to get my local copy of OBS to connect with your page, but the code that you supplied:

req("OpenProjector", {monitor: -1, name: "Windowed Projector (Preview)"})

Returns the following error.

[2019-05-28 20:55] Rosuav commented on #214
Hmm, that suggests that OBS-WebSocket isn't updated. What happened when you ran 'make install' in the hacked OBS-WebSocket directory?

[2019-05-28 22:40] jacobthorup commented on #214
Everything built and when we did a build with install and everything seemed to run smoothly.
I've been working on a windows machine, but we also went ahead and built everything on a linux machine as well. Here are our log files from the builds on linux and the websocket build on Windows.

[OBS websocket_log1 Linux.txt](https://github.com/Palakis/obs-websocket/files/3229953/OBS.websocket_log1.Linux

[2019-05-28 22:46] jacobthorup commented on #214
I tested the hacked builds with another interface,
http://illusdidi.000webhostapp.com/webtv/websocket/obs_studio/

Everything connects and works. Maybe I'm inputting your code in the console incorrectly?

[2019-05-28 22:50] Rosuav commented on #214
It should be fine. Make sure you're running the correctly modified builds:

```req("GetVersion")```

For me, that comes back:

obs-studio-version: "23.1.0"
obs-websocket-version: "4.6.0"

although you may get 4.7.0 for the websocket. If you get lower numbers than these, you have a problem.

[2019-05-29 00:09] LovinLifee opened #335 "shutdown"
If for whatever reason the WebSocket fails to connect, the process stays open and there's no way for me to close the socket.

[2019-05-29 13:25] ilyes64 opened #336 "Create new source"
##### Issue type
Question/Feature request
##### Description
Hi everyone is there a way using this websocket to create a new source or scene (not duplicate)
if no how can i create a new source (script lua or any other useful solution)

[2019-05-29 15:12] jacobthorup commented on #214
It looks like my web-socket version is off. I'm running 4.1.
I thought the web-socket version was tied into the git project that I cloned. Is that determined somewhere else? Maybe by the c compiler I'm using?

[2019-05-29 15:13] Rosuav commented on #214
It is defined by the git repository, which means that it didn't install correctly. Try rerunning the websocket installation (from your locally-built one, not from a standard release - `sudo make install` on a Linux system).

[2019-05-29 20:44] jacobthorup commented on #214
I'd like to thank you for helping and working on this! Your patience with my noobness is greatly appreciated.

So I can't get your hacked version of the obs-websocket to build with anything besides v4.1. I can get the vanilla versions of OBS and the websocket to build and register as 4.6.1 . I noticed that when cloning your branch of the websocket vs the main trunk that the cloned gits are differe

[2019-05-29 20:47] Rosuav commented on #214
Oh! I see what's happening.

After you clone the repositories, you need to switch to the appropriate branch: `git checkout hack-open-projector` in both obs-studio and obs-websocket. That will apply my local changes.

[2019-05-29 20:47] jacobthorup commented on #214
I was looking at that! I should have tried it. Round 3, Fight!

[2019-05-29 23:20] jacobthorup commented on #214
Everything built fine and registers as 4.6 on your test page.
I'm trying to figure out the javascript you gave me. It comes back with the error "Not Authenticated"

![obsWS Not Authenticated](https://user-images.githubusercontent.com/10374837/58597611-fe218d00-8235-11e9-92e5-d3ffd7390c89.JPG)

I have the password and machine ip in the URL bar. Not sure what I have wrong here.

[2019-05-30 00:01] Rosuav commented on #214
Hmm, odd. Does the password have any special characters in it (that might need to be escaped)?

As a quick check, try disabling the password and see if that works.

[2019-05-30 15:47] jacobthorup commented on #214
I disabled the password, the code goes through and obs Studio thinks about it for a few seconds (windows loading circle) and then nothing happens.

![obsWS Undefined](https://user-images.githubusercontent.com/10374837/58644788-3ae59680-82bf-11e9-9d21-36fcac8b119d.JPG)

The connection seems to be working, I can use your web interface to move and resize scenes as well as control the audio levels.

I

[2019-05-30 15:58] jacobthorup commented on #214
Found one more thing in the log.

09:20:39.000: Failed to load 'en-US' text for module: 'obs-websocket.dll'

do you think that might be causing a problem? I'm running my builds as stand alones, not installed versions of OBS, I think the  'en-US' text for module usually installs with the prebuilt bins.

[2019-05-30 18:03] Rosuav commented on #214
I don't know what the cause of that is, but I do know there's an issue with my current hack (involving Qt threads). Planning to deal with that during my next programming live stream. If I succeed, I should have more commits on the same branch in about 16 hours.

[2019-05-31 11:01] Rosuav commented on #214
@jacobthorup Just sorted out the strange issues, though to do so I had to forego the option to open projectors on specific monitors (you just get a windowed one, no other options, atm). Can you try the latest hacks please? It's a change to both obs-studio and obs-websocket.

[2019-05-31 18:44] jacobthorup commented on #214
It worked! Generates a "Projector" window without a any problem.

[2019-05-31 18:48] Rosuav commented on #214
Awesome! The next question is: Is it worth pushing forward and trying to get this feature accepted upstream as-is, or is the flexibility to open projectors on monitors and/or rename them important enough to hold off?

[2019-05-31 19:01] jacobthorup commented on #214
The ability to do full screen, to specific monitors, is key for the type of live production I see this being used in. I could send you a video or some pictures of our specific use case if you're interested. It's a studio environment that produces educational classes with a live audience. We have our stage and presentation area that consists of 4 separate displays, 3-16x9 (aspect ratio) displays an

[2019-05-31 19:10] jacobthorup commented on #214
Also, do you have a donation button or something? This work you're doing is awesome! I love that it's given me a chance to get lightly involved in testing the development of a feature for an already amazing piece of software! Coding, scripting and app development have always been on the edge of what i do for a living, but I never find time between work and family to develop the skill set to really

[2019-05-31 19:22] Rosuav commented on #214
Okay, so it's going to be a larger change then. I'll see what I can do, but it'll probably involve several more functions being added to OBS. Sounds like you may need to be able to pick a specific scene and/or source to put on the projector, too, so that would be another part of the feature. Or is there some other way that you arrange things so they have different content?

I appreciate your grati

[2019-05-31 22:39] jacobthorup commented on #214
Here's a video that shows my use case.

https://youtu.be/VetDGLMwDjQ

I'm wanting to automate what I'm showing in the video. Half of my external monitor/projector usage is from the "Program" monitor ak switched scenes output, the other half of my setup is assigning specific scenes to specific monitors that will stay the same through out the presentation, no switching.

[2019-06-01 02:29] Rosuav commented on #214
Thanks, that is a helpful summary. (Palakis, sorry for blowing up your inbox with so much discussion, but I hope that the eventual result will be a cool new feature in obs-websocket!!) Presumably having two OBSes with independent configs is already a solved problem for you, which means they'll just have separate websocket ports, so that part's easy. Here's what I'm thinking for my new API. It's ba

[2019-06-01 03:09] Rosuav commented on #214
BTW, I haven't actually found any difference between "Source" and "Scene". Clearly the intention is to use "Source" for a single element and "Scene" for a composed scene, but a scene can be an element too. As it is, they appear to be interchangeable (you can even use "Scene" for something that definitely isn't a scene - I tried it).

[2019-06-01 03:28] Rosuav commented on #214
See #338 for the latest version of the functionality.

[2019-06-01 13:12] Etuldan opened #339 "SetBrowserSourceProperties doesn't refresh source in OBS"
##### Issue type
Bug report

##### Description
When I call SetBrowserSourceProperties (with websocket) for example to change CSS, or even localfile the scene on OBS isn't refresh (cache issue ?). The source properties in OBS are successfully change, but not the display.

##### Steps to reproduce and other useful info
Create a BrowserSource on OBS. Connect with websocket, and trigger SetBrowserSour

[2019-06-01 14:55] Etuldan commented on #339
Ok, sorry, not the obs-websocket fault ;)

I close it !

[2019-06-01 14:55] #339 closed

[2019-06-05 11:51] Symbiatch opened #340 "Enable/disable filters?"
##### Issue type
Feature request

##### Description
I can't see any way currently to enable or disable filters. One can get filters of a source and change their settings, but not enable or disable them. Is this correct? I could probably hack it in myself and send a PR if this feature is missing. I did check the messages GetSourceFilters etc return and there's no field for this.

[2019-06-06 21:54] evilarceus commented on #326
Can confirm this issue as well. Sometimes, it also sends back "Invalid sceneItem order" as an error.
Here's a WebSocket log of this happening:
`SENT: {"request-type": "ReorderSceneItems", "items": [{"name": "Display Capture"}, {"name": "Text (FreeType 2)"}], "message-id": "hi"}

RECEIVED: { "error": "Invalid sceneItem order", "message-id": "hi", "status": "error" }

SENT: {"request-type": "Reorder

[2019-06-08 01:47] michaeltoohig opened #342 "Feature Request: SetSourceSettings for Media source with Start time for playback"
##### Issue type
Feature request

##### Description
I would like a means to set a Media Source to begin playback at a certain time in the video file. Perhaps someone would want to then also request and end time but that's not important to me personally.

[code]

I'm not sure if this is already available but I don't see it while searching around with the python implementation of this project.

Than

[2019-06-08 18:47] ilyes64 commented on #336
I've created a pull request containing this new feature so i'm closing this issue

[2019-06-08 18:47] #336 closed

[2019-06-15 17:21] DeeJayMX opened #344 "Feature request: Add in protocol Swap PVW PGM"
Please add the ability to enable/disable the swap source function on Preview and program output
![SwapSource](https://user-images.githubusercontent.com/36418772/59554418-ca1ec980-8fa2-11e9-9eac-1c27c804d535.png)

[2019-06-16 15:09] REALDRAGNET commented on #218
I finally could fix that issue by switching to the generalized version of obs-websocket-dotnet framework. Would have been able to fix this much sooner with a tiny little help :-P

[2019-06-16 15:09] #218 closed

[2019-06-17 00:33] Lange opened #345 "Atomic transactions"
##### Issue type
Very low-priority feature idea

##### Description
I sometimes need to dispatch a bunch of commands to OBS all at once. I never really know if this is safe to do, and it kinda spooks me out every time, especially if they are order-sensitive.

I think it would be cool if I could create a "transaction", which contained many protocol commands in it. `obs-websocket` would receive the t

[2019-06-17 03:13] Lange opened #346 "Get{Preview,Program}Scene sends malformed response during OBS startup"
##### Issue type
A change in behavior that may or may not be a bug

##### Description
Sometime between 4.4.0 and 4.6.1, `obs-websocket` started sometimes responding to `GetPreviewScene` and `GetProgramScene` with the following data:

[code]

Of note here is that the `name` is the empty string, and `sources` is totally omitted.

As far as I can tell, this happens during a brief window of time durin

[2019-06-17 03:44] Lange commented on #259
This is still present in OBS Studio 23.2.1 and `obs-websocket` 4.6.1.

[2019-06-17 09:19] mihalynemeth opened #347 "Switching to studio mode causes OBS crash"
##### Issue type
Bug report

##### Description
OBS crashes when switching to studio mode via websocket-server
(SetStudioMode/ToggleStudioMode)
It works perfectly with 4.5.1 plugin version, but v4.6.1 causes crash.
Crash report and obs log attached.

##### Steps to reproduce and other useful info
Install obs-websocket plugin v4.6.1
Just send SetStudioMode or ToggleStudioMode command to ws server.

[2019-06-17 09:51] Palakis commented on #345
@Lange in the meantime, if you're concerned about the order in which requests are executed, on the client-side you can wait for request A to complete before sending request B (in obs-websocket-js I think you can just `await` successive calls). At the cost of potentially higher latency though.

[2019-06-17 20:20] Kelin2025 commented on #274
Sorry for the stupid question but I'm not sure what do you mean by "output" exactly?
Is it "where do we send the picture" or "what do we send"?

[2019-06-18 15:21] mutilator opened #348 "Documentation issues"
##### Issue type
Documentation issues for protocol.md
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md

##### Description
GetSourceTypesList lists 'ids' as the name of the property. The protocol actually returns 'types' as the property.

Several data types are defined as int in the documentation but the values actually overflow int space. I've seen this happen o

[2019-06-18 16:38] #348 closed

[2019-06-19 11:00] schindlerit1984 commented on #286
i still get the same error as written above.

in connection with obs command it can only trigger SetSceneItemTransform and not SetSceneItemProperties. written in the forum by fsc it says there might be an error inside websocket where it only takes the Deprecated values.

it wouldnt be a problem if it just resizes proper - it cant get anything other working apart from 1 2 3 and 0.1 0.2. 0.3 if i tr

[2019-06-21 12:42] Kuba802802 opened #349 "Implement remote controling of Audio Mixer"
##### Issue type
Feature request

##### Description
I've small idea which will be much useful, I mean about add method to audio mixer control(volume). This feature will improved realization of Live Transmision.

##### Technical information
- **Operating System** : Windows 10 64bit
- **OBS Studio version** : OBS 23.1.0

[2019-06-21 13:06] #349 closed

[2019-06-22 00:27] YorVeX commented on #340
Did the same as you, checked the GetSourceFilters response and since there is no field that shows whether it's enabled or disabled I figured you can't set visibility through SetSourceFilterSettings. I also checked the source but there doesn't seem to be any undocumented old method for this either (as exists e.g. for sources with the SetSourceRender method).

I'd really love to have this too. One c

[2019-06-22 19:17] b3ck opened #350 "Is there a way to pull source info?"
##### Issue type
Feature request/Other

##### Description
I was wondering if there is a way to pull information from a video source, for example, bitrate, fps, resolution etc..  or is this something I would have to ask the developers of the video source plugin (NDI, VLC etc..) ??

##### Steps to reproduce and other useful info
N/A

##### Technical information
- Windows 10 Pro 64bit :
- OBS Studio

[2019-06-24 07:16] ethaniel opened #351 "TakeSourceScreenshot: "Unsupported picture format: jpg""
I can't get TakeSourceScreenshot to work.

If i do:
[code]

I get:

[code]

If i do:
[code]

I get:

[code]

[2019-06-24 12:54] Palakis commented on #351
@ethaniel Try using jpeg instead of jpg.

[2019-06-24 12:54] ethaniel commented on #351
Same, even tried png.

[2019-07-11 03:58] ptree44 opened #352 "Bug Report: Password not saving"
##### Issue Type
Bug report

##### Description
Passwords are not saved

Goes into OBS Studio then topbar, Tools > WebSockets Server Settings > *changes password field* > *double checks enable auth is checked* > ok

Then it never saves. This plugin was working before but it randomly stopped working after opening OBS one day

##### Steps to reproduce and other useful info
23:34:57.620: [obs-websocke

[2019-07-11 04:26] Nameless9 commented on #352
I have the same issue. obs.connect() isn't connecting at all. Please fix this. I thought it was fixed in another issue

[2019-07-11 04:34] Nameless9 commented on #352
It was working properly a few days ago, and then all of a sudden I'm unable to connect it. I'm using the js version to connect remotely to OBS, but I've come across issue #193 That issue was closed and Mr. Palakis said he'll come up with a new branch to fix it soon. I'm looking forward to hearing about it. cheers

[2019-07-11 06:48] Nameless9 opened #353 "What is the default password for OBS-studio?"
##### Issue type
Bug report? Feature request? Other?
Other
##### Description
What is the default Password of the OBS client? I see 8 hidden characters. My initial guess of "password" is incorrect. I have an issue with password changes not getting saved so I just want to know the default password for my simple use

##### Technical information
- **Operating System** :Windows 10
- **OBS Studio versio

[2019-07-11 13:06] Palakis commented on #353
@Nameless9 iirc it's `changeme`

[2019-07-11 13:07] #353 closed

[2019-07-11 13:10] Palakis commented on #350
@b3ck Depends what kind of values you're looking for.

Resolution, yes. FPS, potentially. But bitrate, that's another matter. There's currently no standard way of getting bitrate info, because it's specific to a handful of source types. Source-specific info could be provided by sources through callbacks and/or signals.

[2019-07-11 13:11] #350 closed

[2019-07-13 06:12] ethaniel commented on #351
Ok, so it was my mistake. Actually a bunch of mistakes:

1. I sent a Scene name instead of a Source name.
2. I sent $path (just the variable) instead of the actual path (i forgot that I was using single quotes instead of double quotes).

However, "embedPictureFormat":"jpg" doesn't work (I get "Unsupported picture format: jpg"). So I ended up sending "embedPictureFormat":"png" with a correct Source

[2019-07-16 16:22] #274 closed

[2019-07-19 04:43] HeedfulCrayon commented on #209
This is what I planning on using:
https://ianmorrish.wordpress.com/2017/05/20/automating-obs-from-powershell-script/

[2019-07-19 11:48] Rosuav commented on #347
Can confirm that this happened on Linux using trunk builds of both OBS and OBS-WebSocket. My thinking is that it may be an issue with which thread things are being done on? There's a tiny Qt window that appears just before the crash (which is inside Qt somewhere).

Possibly related to an OBS stall when trying to take a snapshot of a source.

[2019-07-19 11:49] Rosuav commented on #296
Closed by the above PR

[2019-07-19 11:49] #296 closed

[2019-08-11 11:28] 4ntibala commented on #269
same here.. also in the need of different ports per profile.
u can start multiple instances of OBS via terminal in linux though.. and do the WS config afterwards.

[2019-08-15 17:06] kutibotond opened #359 "Bug report: OBS crashes sometimes when triggering recording with FSC's commandline tool."
OBS crashes sometimes when triggering recording with FSC's commandline tool. I haven't tested other methods.

[Crash report](https://obsproject.com/logs/etW3Q5J6WYFK_42U)

##### Technical information
- Windows 10 64-bit
- OBS Studio 23.2.1

[2019-08-15 21:06] Palakis commented on #352
@ptree44 @Nameless9 which version of obs-websocket are you running? Tested this with 4.6.1 and t2t2's remote control app on OBS Studio 23.2.1 and I don't have that issue.

Here's what I did:

1. Enable authentication
2. Change password to "somethingA" and validate
3. Try to login on tablet remote, gets asked for password, types "somethingA", auth success
4. Restarted OBS
5. Did step 3 again: succe

[2019-08-26 22:09] Palakis commented on #359
@kutibotond Can you also please put your crash log here? So that I can keep a track of it.

[2019-08-26 22:10] #352 closed

[2019-08-26 22:11] #212 closed

[2019-08-26 22:16] Palakis commented on #280
@PCMACHero at the very least I can put a mention in the protocol specs which says volume values are linear. But because the conversion between linear and dB log is trivial, this is not much of an issue currently.

[2019-08-26 22:16] #280 closed

[2019-08-26 22:17] Palakis commented on #284
@Hideman85 try the latest version (4.6.1). It fixes this issue.

[2019-08-26 22:17] #284 closed

[2019-08-26 22:18] Palakis commented on #291
@Rushmead Starting from 4.6.0, obs-websocket doesn't use these DLLs anymore

[2019-08-26 22:18] #291 closed

[2019-08-26 22:19] Palakis commented on #325
@jeffmikels Try the latest version (4.6.1). It has been tested on macOS Mojave.

[2019-08-26 22:19] #325 closed

[2019-08-26 22:21] Palakis commented on #333
@MichleLI If you want to contribute code samples to the documentation, write them in a separate Markdown document and submit it as a PR (if you know how to make one) or put it there so I can have a look.

Closing this, but you can still comment here!

[2019-08-26 22:21] #333 closed

[2019-08-26 22:23] Palakis commented on #345
Similar to #134

[2019-08-26 22:28] #101 closed

[2019-08-26 22:34] Palakis opened #361 "New request types: GetSourceKindProperties and GetSourceFilterSettings"
##### Issue type

Feature request

##### Description

It's nice to have `GetSourceSettings` and `SetSourceSettings` to fetch and change source settings, and `SetSourceFilterSettings` for filters.

But it would be even better to have:
   - a `GetSourceKindProperties` method to know what properties/settings a source type/kind requires (e.g. which settings are needed for a VLC source) or exposes
   -

[2019-08-26 22:36] Palakis commented on #344
Duplicate of  #187

[2019-08-26 22:37] #344 closed

[2019-08-26 22:38] Palakis commented on #226
Duplicate of #213

[2019-08-26 22:38] #226 closed

[2019-08-26 22:41] Palakis commented on #256
Similar to #213

[2019-08-26 22:43] Palakis opened #362 "New request type: SetVideoSettings"
##### Issue type

Feature request

##### Description

Add a new method to change:
   - Base video (canvas) size
   - Rescaled output size
   - Framerate.

[2019-08-26 22:46] Palakis commented on #310
@Huesdon btw give a try to obs-websocket 4.6.1. It has a completely new WebSockets server which processes requests in a separate thread.

[2019-08-26 22:46] #310 closed

[2019-08-26 22:50] Palakis commented on #154
So.
As I messed up with `master` last year and messed up while backporting changes to `4.x-current`, I don't know if the changes from #164 are still there 🤦‍♂
Hence the "investigation needed" label.

[2019-08-27 09:46] kutibotond commented on #359
The link is in my post.

[2019-08-28 09:45] kutibotond commented on #359
here is another one from last night :( https://obsproject.com/logs/oRcJCohc_lPZqduf

[2019-08-29 09:17] vorob1 opened #363 "Switching scenes is the only thing i can do?"
I don't understand, i can only switch scenes via web page? Any way to control sound levels from mic and game? Pause and unpause stream? Launch it or stop? Mute mic?

No issues despite README is not friendly, definitely need stuff like:

1. Install **obs-websocket-4.6.1-Windows-Installer.exe** into your OBS folder
2. In OBS got into **Tools** > **WebSocket settings**...
3. Get your local IP for you

[2019-08-30 11:20] #363 closed

[2019-08-30 12:10] #314 closed

[2019-08-31 01:29] #326 closed

[2019-08-31 02:50] #334 closed

[2019-08-31 15:39] #346 closed

[2019-08-31 16:08] Palakis commented on #259
@Lange I found the root cause of this: when "Duplicate Scenes" is checked, the duplicates are created without a name: https://github.com/obsproject/obs-studio/blob/master/UI/window-basic-main-transitions.cpp#L321

[2019-08-31 16:10] Palakis commented on #259
I'll try to see if I can find a workaround for this on my end.

[2019-08-31 16:40] Palakis commented on #236
@congoblue Gonna close this, as I can't reproduce it and I don't have more informations regarding the situation you're describing.

[2019-08-31 16:40] #236 closed

[2019-08-31 22:23] Palakis commented on #359
@kutibotond Can you please test this version of obs-websocket with FSC's command line tool? https://ci.appveyor.com/api/buildjobs/we8lq75s7kmnsyij/artifacts/obs-websocket-d7f5c04-Windows-Installer.exe

I think I found the cause of the crash, and this version should have the fix for it.

[2019-09-02 10:52] #359 closed

[2019-09-02 16:27] apzm opened #370 "Is it possible to add the function pause recording"
##### Issue type
Feature request

##### Description
Hello
is it possible to add the function pause / unpause recording.
On obs studio I found the function but I'm not good with c ++
(Obs_frontend_recording_pause)

sorry for my english i'm french.

##### Technical information
- **Operating System** : Linux
- **OBS Studio version** :24

[2019-09-03 05:06] MikiraSora opened #373 "Is there support capturer option "Enable Transparency" getting/setting?"
##### Issue type
Feature request

##### Description
I checked out document and I didn't found anything about how to set/get capturer option named "Enable Transparency". Was I missing something or there is a plan to add it?
![image](https://user-images.githubusercontent.com/7549173/64145488-989ff680-ce4b-11e9-93f5-ddc8d5945fdd.png)

[2019-09-03 09:56] Palakis commented on #373
@MikiraSora you can use `SetSourceSettings` to change source settings on the fly from obs-websocket. To find out which property name is behind "Allow Transparency", enable it and use `GetSourceSettings` to fetch the current source settings

[2019-09-03 12:49] vorob1 opened #374 "[Feature Request] Control volume level"
Good afternoon,

I just wanted to suggest adding not just the ability to turn on / off the sound from the source, but also control the volume. Viewers often ask to adjust the volume of the game or the voice of the streamer, it is convenient to do this remotely.

Thank!

[2019-09-03 12:58] mihalynemeth commented on #374
I think mute/setvolume available in current release:
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setvolume

[2019-09-03 13:11] vorob1 commented on #374
I only see "toggle audio device on off"
https://sun9-42.userapi.com/c852024/v852024954/1b7386/wMZMr1JCXMM.jpg

[2019-09-03 13:16] Palakis commented on #374
@vorob1 `GetVolume`/`SetVolume` serve this exact purpose. I think your request belongs in the scope of [t2t2/obs-tablet-remote](https://github.com/t2t2/obs-tablet-remote)

[2019-09-03 13:16] #374 closed

[2019-09-03 13:17] #335 closed

[2019-09-03 13:19] #110 closed

[2019-09-03 19:28] #370 closed

[2019-09-06 15:26] PCMACHero commented on #26
any updates on this?

[2019-09-08 12:21] #373 closed

[2019-09-16 15:53] atiksoftware opened #377 "How can i add new source"
how can i add new item to sourceList ?

[2019-09-22 08:55] tt2468 opened #378 "SetStreamSettings not applying when switching from rtmp_common to rtmp_custom"
##### Issue type
Bug report

##### Description
When switching the settings type from rtmp_common to rtmp_custom (along with saving), the server responds as if the settings have changed, but they stay as rtmp_custom.

##### Steps to reproduce and other useful info
1. Set the output stream to twitch, then set any stream key
2. With the websocket, set the new type to rtmp_custom, along with a stream

[2019-09-24 07:59] OpaqueStephanie commented on #91
@Palakis I've run into a problem which seems related:
The reply from sending a  `StopRecording` message is recieved before the file has finished being output, meaning I can't perform tasks on the resulting file immediately (I'm trying to automatically upload it). I'm assuming the same is for `RecordingStopped` (the documentation isn't clear but it looks like it'd be sent at the same time as `StopR

[2019-09-24 14:55] Lombra opened #379 "Mixer device added/removed event?"
Exists there an event that triggers when an audio device is added or removed? For example when I change visibility on a source with an audio device attached.

[2019-09-24 15:06] Lombra opened #380 "Arguments for Profile and SceneCollection events"
##### Issue type
Feature request

##### Description
Would like to see name of new profile/sc passed to the `ProfileChanged`/`SceneCollectionChanged` events, and new profile/sc list for the `ProfileListChanged`/`SceneCollectionListChanged` events.

[2019-09-28 18:32] Lange commented on #223
Confirming that this still happens as of the latest OBS 23 and obs-websocket 4.6.1. Have not tested with OBS 24 or any pre-release builds of obs-websocket.

[2019-09-30 14:20] tomierna commented on #258
I'm doing motion detection on an OBS stream, and triggering StartRecording when I see movement over a certain threshold, and then sending out alerts linking to these files. I'm running into a race condition where certain URLs will be incorrect because the second counter changes between the time OBS generates the name and when I generate the URL.

Having the OBS-chosen filename passed back as the r

[2019-10-02 23:18] BarryCarlyon opened #381 "Mac: System Tray Alerts"
##### Issue type
Bug report!

##### Description
Enable System Tray Alerts: results in no alerts on the Mac build at all.

##### Steps to reproduce and other useful info
- Have mac
- Enable System Tray Alerts
- Connect a client
- Receive no alert

##### Technical information
- **Operating System** : Mojave: 10.14.6
- **OBS Studio version** : 23.2.1 (mac)

[2019-10-08 22:03] illusdidi commented on #347
Can confirm this is happening to me too, when triggering ToggleStudioMode or TransitionToProgram apparently.
[obs crash.txt](https://github.com/Palakis/obs-websocket/files/3704690/websocket.crash.txt)
[obs crash2.txt](https://github.com/Palakis/obs-websocket/files/3704691/websocket.crash2.txt)
[obs crash3.txt](https://github.com/Palakis/obs-websocket/files/3704692/websocket.crash3.txt)

[2019-10-10 10:21] CSMBY opened #382 "Invalid requests execution order"
##### Issue type
Bug report

##### Description
Requests are executed in random order

##### Steps to reproduce and other useful info
For example, we send requests in this order:
ResetSceneItem ("Item1")
ResetSceneItem ("Item2")
ResetSceneItem ("Item3")
The execution order of these requests can be absolutely any: Item1, Item2, Item3 or Item2, Item1, Item3, or Item3, Item1, Item2 and etc..
Could thi

[2019-10-11 16:36] jwulf commented on #209
Streamdeck controlling OBS over websockets:

https://github.com/jwulf/obs-streamdeck/tree/master/src/obs
https://github.com/jwulf/obs-streamdeck/tree/master/src/stream-key
https://github.com/jwulf/obs-streamdeck/blob/master/src/mute-audio/mute-audio.controller.ts

[2019-10-15 18:24] BarryCarlyon opened #383 "TakeSceneScreenshot"
##### Issue type
Feature request

##### Description
Similar to `TakeSourceScreenshot` I'd like a `TakeSceneScreenshot`

I imagine this would only be possible to take a shot of the active scene. Which I don't have a problem with if that was the case

[2019-10-15 18:59] Palakis commented on #383
@BarryCarlyon You can already do this with TakeSourceScreenshot. Just specify the scene name in `sourceName`.

[2019-10-15 19:00] #383 closed

[2019-11-05 16:41] LanceLake opened #386 "Getting 426 Error when connecting via curl command"
##### Issue type
Bug report

##### Description
When I execute the following code (CFML)..

<cfhttp method="Get" url="#IPAddress#">
	<cfhttpparam name="request-type" type="body" value='{"GetAuthRequired":""}'>
	<cfhttpparam name="message-id" type="body" value='1'>
</cfhttp>

it returns an error code 426.
https://prnt.sc/pstskv

It shouldn't fail to process because a patch is out (speaking of which,

[2019-11-05 16:52] LanceLake commented on #209
Can someone translate that into a curl call that I can use to communicate with the websocket please?

[2019-11-07 10:36] Palakis commented on #386
@LanceLake obs-websocket doesn't support plain http requests right now.

What patch?

[2019-11-07 16:04] tgudelj commented on #347
Windows 10, OBS Studio 24.0.3 (64 bit)
obs-websocket 4.6.1
crash on: changing studio mode and transition to program
[Crash 2019-11-07 16-58-16.txt](https://github.com/Palakis/obs-websocket/files/3820498/Crash.2019-11-07.16-58-16.txt)

[2019-11-07 19:02] LanceLake commented on #386
Well, it's responding to a call and there are websites out there that do calls to it. For example..

https://t2t2.github.io/obs-tablet-remote/

So yeah. It does allow for http requests.

Please see first link.

Upgrade Required Server:  Websocket++/0.8.1

Please see here (https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/426) for more info about the error.

"The HTTP 426 Upgrade Required cl

[2019-11-07 20:28] Palakis commented on #386
https://t2t2.github.io/obs-tablet-remote/

t2t2's obs-tablet-remote uses WebSockets, not plain HTTP calls.

[2019-11-07 20:45] LanceLake commented on #386
Correct. I'm also using a websocket call. Hence the error.

[2019-11-07 21:06] dodgepong commented on #386
I think your OP is missing information:

There is no code provided in that blank.

[2019-11-07 21:16] LanceLake commented on #386
It is a HTTP code.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/426

"The HTTP 426 Upgrade Required client error response code indicates that the server refuses to perform the request using the current protocol but might be willing to do so after the client upgrades to a different protocol."

The plugin is refusing the request using the current protocol and it needs to be upgraded to

[2019-11-07 22:00] dodgepong commented on #386
I know what an HTTP response code is. I'm saying that the way your OP is worded, it sounds like you were trying to insert a code sample of CFML, but nothing appeared in the post.

"When I execute the following code..." What code are you executing? You've reported the error code but not the code that generated it. Your reproduction steps say "Execute above code which connects to the server and it r

[2019-11-07 22:11] Palakis commented on #386
@LanceLake What websockets library/function do you use in your code?

[2019-11-08 01:17] LanceLake commented on #386
This is the code I'm using..

<cfhttp method="Get" url="http://[IPADDRESS AND PORT DELETED FOR SECURITY REASONS]/">
	<cfhttpparam name="request-type" type="body" value='{"GetAuthRequired":""}'>
	<cfhttpparam name="message-id" type="body" value='1'>
</cfhttp>

<cfdump var="#cfhttp#">

There is no webserver set up on the computer. If I don't run OBS, it's not connecting (as expected).

When I run th

[2019-11-08 01:22] LanceLake commented on #386
Failing that.. Is there any way to be able to call remotely having a source turn on? That's all I want to do.. Have an alert in streamelements run some JS code to contact my computer and activate a source when it's run (via an alert).

[2019-11-08 11:21] me-vlad commented on #347
Hi, I can confirm crash on Windows 10, OBS Studio 24.0.3 (64 bit) + obs-websocket 4.6.1 after transition

[2019-11-09 12:18] Druffert opened #387 "I managed to come across this crash log while trying to figure out a different problem."
This happens just letting OBS run, no specific interactions, no starting or ending stream/record or anything. I have 1 scene 1 source that is NDI and nothing else. One note is that, prior to installing Websocket for no reason, I was having OBS CTD with 0 crash logs.
[Crash 2019-11-09 04-15-59.txt](https://github.com/Palakis/obs-websocket/files/3827259/Crash.2019-11-09.04-15-59.txt)

[2019-11-11 11:25] Palakis commented on #347
This should be fixed by now, will be released in a few days with 4.7.0

[2019-11-11 11:25] #347 closed

[2019-11-11 12:05] #361 closed

[2019-11-11 13:40] #340 closed

[2019-11-15 07:01] BarRaider opened #389 "OBS crashes after calling ToggleStudioMode/EnableStudioMode"
##### Issue type
Bug report (obs-websocket 4.7.0 with OBS Studio 24.0.3 - 64 bit)

##### Description
When trying to call EnableStudioMode or ToggleStudioMode the OBS screen flickers but does not actually move into Studio Mode. However, the "Studio Mode" button in OBS *is* enabled. Trying to press the Studio Mode button again to disable it OR trying to call ToggleStudioMode/DisableStudioMode from o

[2019-11-15 14:30] Palakis commented on #377
@atiksoftware This is being worked on: #341

[2019-11-15 14:30] #377 closed

[2019-11-15 14:37] Palakis commented on #382
@CSMBY It's not a bug. obs-websocket handles requests asynchronously and provides a `message-id` field to make it easy to tie a response to a request.

If you're in a scenario where request and response order is important and you're using an obs-websocket library with async support (such as the JS library and the Python library), you only need to `await` on each request to wait for the first one t

[2019-11-15 14:37] #382 closed

[2019-11-15 15:20] CSMBY commented on #382
The scenario is as follows:
messageId = ResetSceneItem("Item1");
WaitAnswer(messageId);
messageId = ResetSceneItem("Item2");
WaitAnswer(messageId);

The actual order of execution may be:
Item2 has been reset
Item1 has been reset

I understand that I need to wait for an answer with the appropriate message-id.
But this does not always work. In some cases, the execution order changes.

[2019-11-20 03:26] aschwartzmann opened #391 "Support for Custom Browser Docks"
##### Issue type
Feature request

##### Description
I'm looking to be able to change the URL of a browser dock and or cause a reload or refresh of the browser dock. (Currently if OBS is opened before the local app hosting the website for the browser dock you get a blank white page.  There doesn't seem to be a way for a user to fix it short of closing and reopening OBS or editing the url. So I woul

[2019-11-25 13:44] Rosuav opened #392 "Building into temp dir still reads includes from wrong location"
##### Issue type
Bug report

##### Description
Setting `LIBOBS_INCLUDE_DIR` does not prevent incorrect header files from being included.

If libobs exists as a system installation, it is difficult to build a temporary libobs and then compile obs-websocket against the temporary one. It appears that pkg-config still points to the system installation. Setting PKG_CONFIG_PATH doesn't cure this.

#####

[2019-12-04 18:13] ItsFlo commented on #386
It´s responding because for a websocket you send a normal http header but with a request to upgrade the protocol.
After that it´s not http anymore, so it doesn´t send a body and the connection stays open.

In your request you didn´t upgrade the protocol.
Since this plugin only accepts websocket requests and doesn´t serve http requests you get the error that the upgrade is REQUIRED.

cfhttp sends a

[2019-12-05 03:55] OpaqueStephanie opened #394 "StartStreaming (without auth) errors."
##### Issue type
Bug report

##### Description
Attempting to start streaming with the "StartStreaming" request type and supplying the stream's parameters in the stream object causes OBS to error (after a long pause while it tries to connect), the same connection parameters when provided in OBS's settings work immediately when manually pressing the "Start Streaming" button in the UI.
The first erro

[2019-12-05 06:27] OpaqueStephanie commented on #394
Connecting also fails (with the same errors) when StartStreaming is called without connection details.
 - the stream object was not set.
 - OBS is configured correctly and works when manually pressing the Start Streaming button..

[2019-12-09 04:32] OpaqueStephanie commented on #394
Just realised I was running an older version of obs-websocket. The new version has fixed this issue.

[2019-12-09 04:32] #394 closed

[2019-12-09 15:13] artemjackson commented on #378
Same, OBS 24.02, Mac OS 10.15.1

[2019-12-09 16:46] Livastyle opened #395 "Implement SelectSceneItem"
##### Issue type
Feature request

##### Description
There are events for SceneItemSelected & SceneItemDeselected.
For completion I would like to see requests for this:
 - SelectSceneItem
 - DeselectSceneItem

[2019-12-09 17:10] DeeJayMX commented on #187
Do you have some news ?

[2019-12-12 03:19] michaeltoohig opened #396 "Video playback not beginning"
##### Issue type
Bug Report.

##### Description
Let me know if this is my error/expected behavior or a bug or if this is outside of this repo's control.

A little background first, I am using this repo to control a remote OBS instance to play a continuous streaming TV channel. With different scenes for main content, advertisement breaks, weather updates, etc. The main scene plays videos from a med

[2019-12-13 20:45] Exavior commented on #177
Please please please tell me this has been addressed.  The entire application I'm developing around this depends on observing the visible state of items in a scene that is not currently visible.

[2019-12-26 02:14] strotlog opened #398 "API: SetSceneItemProperties should accept item.id for handling 1 scene:N items:1 source"
##### Issue type
Feature request

##### Description
Many requests provide for a scene item ID field `item.id (int)` in the request, but `GetSceneItemProperties` and `SetSceneItemProperties` do not yet. Instead, currently scene items are addressed by name only, and the API implementation picks the first matching item.

However, **duplicated scene items always have the same name. ID specificity, or

[2019-12-28 08:40] lebaston100 opened #399 "Add support for controling the T-Bar"
##### Issue type
Feature request

##### Description
It would be very handy to have support for the new T-Bar feature that was added with https://github.com/obsproject/obs-studio/commit/a97039db64abd788a675b019bd7f2dd61f69952b

[2019-12-30 22:12] BarryCarlyon commented on #381
I don't know if it was a mac issue.
And OBS issue
Or something else.

But it's fixed as of writing.

- Operating System : Catalina: 10.15.2
- OBS Studio version : 24.0.6 (mac)

So yay!

[2019-12-30 22:12] #381 closed

[2020-01-17 07:08] AlcaDesign commented on #391
Click the browser dock and press `ctrl/cmd`+`r` (r for reload). This is the currently supported way to reload a dock in OBS. You don't need to edit the URL or restart OBS necessarily.

[2020-01-20 04:10] OpaqueStephanie opened #402 "[Bug] [Regression] Can't Set Stream Settings"
#### Issue type
Bug report!
Follow up of this post: https://obsproject.com/forum/threads/obs-websocket-remote-control-of-obs-studio-made-easy.58018/page-9#post-409838

#### Description
Setting the stream settings using SetStreamSettings or StartServer doesn't work. StartServer works in 4.5.1 but is broken in 4.6.1 and 4.7.0. SetStreamSettings doesn't save the settings in any version.

#### Details

[2020-01-20 05:49] tt2468 commented on #402
What stream settings mode is OBS already in? #378 reports that if the stream settings mode is rtmp_common, it fails to switch to rtmp_custom when it should.

[2020-01-21 01:09] OpaqueStephanie commented on #402
Yeah I saw that bug, it's already set to custom though. I will need that one fixed too though because I'm making a tool that should automatically configure a user's obs installation to stream to an available remote server (for evaluation).

[2020-01-24 04:58] michaeltoohig opened #403 "Feature Request: Set/Get Audio Monitoring on sources"
##### Issue type
Feature

##### Description
Control the Audio Monitoring options from the Advanced Audio Properties window. I want to be able to change a source dynamically from "Monitor Off" to "Monitor and Output".

##### Steps to reproduce and other useful info
This may be related to an old issue from 2017 https://github.com/Palakis/obs-websocket/issues/152 or not. However, this is absolutely r

[2020-01-26 04:26] BarRaider commented on #389
Hi,
Just checking back on this, I see it was targeted for 4.7.1 - any idea when this will be released?

[2020-01-28 15:24] Palakis commented on #387
Thanks for this. I'll have a look at what happens in that crashlog. In the meantime, closing this.

[2020-01-28 15:24] #387 closed

[2020-01-31 05:04] davemac005 opened #406 "Negative audio Sync offsets"
##### Issue type
Bug report

##### Description
OBS allows setting of positive and negative audio sync offsets, and the HandleGetSyncOffset will return negatives if manually set. However HandleSetSyncOffset doesn't accept negatives, and looks the be by design in the code:

HandlerResponse WSRequestHandler::HandleSetSyncOffset(WSRequestHandler* req)
{
	if (!req->hasField("source") || !req->hasField(

[2020-02-03 06:57] InQBuilder opened #407 "Feature request: set recording filename"
##### Issue type
Feature request

##### Description
 i was really hoping for a feature to remotely name the save file for obs studio. I was under the assumption that the SetFilenameFormatting was a protocol to name/rename the save file. Am i correct on this, is there another suitable available protocol, or no current protocol to name save file remotely?

##### Technical information
- **Operating S

[2020-02-06 08:32] johncoles commented on #275
This would be great if still planned. I would like to see an option to subscribe to the  audio VU meters out of the UI allowing for monitoring of them on mobile devices or in our custom UIs.

[2020-02-06 19:46] Lange commented on #259
I see that a commit was landed to OBS which populates the names of these duplicate scenes: https://github.com/obsproject/obs-studio/commit/5156de4b173f3b38ee0a778425c0b01dd633da90#diff-0d4c49ee9b86534945736d6379581add

However, it seems that as of `obs-websocket` 4.7, this issue still persists. Maybe something in `obs-websocket` needs to be updated to look at this new data?

[2020-02-06 22:07] Lange commented on #259
Oh I see, OBS 24.0.3 did not include this commit, so we need to wait for the next release.

[2020-02-06 23:46] Lange opened #408 "TransitionBegin reports the wrong duration of Stinger Overrides"
##### Issue type
Bug report 🐛

##### Description
`TransitionBegin` reports the `duration` of the transition incorrectly when the transition is both an Override and a Stinger.

##### Steps to reproduce and other useful info
1. Create a Stinger transition
2. Assign it as a Transition Override on a Scene
3. Transition to that scene
4. Observe that the `duration` reported by `TransitionBegin` will be

[2020-02-15 11:18] harm27 opened #412 "StreamingTime assigned to recordingTime."
##### Issue type
Bug report

##### Description
I was reading your to understand where the recording time would come from, but i saw that the streaming time was incorrectly also assigned to the recordingTime.
https://github.com/Palakis/obs-websocket/blob/e1a2f0c0f4ce0fe868b664cf4cdc4e77650de9bb/src/WSEvents.cpp#L244

[2020-02-15 11:57] Palakis commented on #412
@harm27 Thanks, gonna fix this

[2020-02-15 13:45] #412 closed

[2020-02-15 15:24] tt2468 commented on #378
I think I may have found the issue.
The libobs api call `obs_service_create` [here](https://github.com/obsproject/obs-studio/blob/master/libobs/obs-service.c#L74) looks like it should take `STREAM_SERVICE_ID` before `requestType`, yet the implementation in the various calls [here](https://github.com/Palakis/obs-websocket/blob/4.x-current/src/WSRequestHandler_Streaming.cpp) appears to put `requestT

[2020-02-15 16:26] Palakis opened #414 "Advertise supported image formats for TakeSourceScreenshot"
##### Issue type

Feature request

##### Description

Provide a way to get the list of supported image writer formats for TakeSourceScreenshot. This should probably be an array in the response fields of GetVersion.

[2020-02-15 16:36] Palakis opened #415 "TakeSourceScreenshot doesn't work with JPEG output on Windows"
##### Issue type

Bug report

##### Description

TakeSourceScreenshot called with `jpeg` or `jpg` as its output format doesn't work on freshly installed Windows 7 or Windows 10 systems.

##### Steps to reproduce and other useful info

Test this on a fresh Windows install.

[2020-02-15 23:02] tt2468 commented on #402
I've submitted a PR which fixes the issue I mentioned above. Could you retest this using 4.7 and post the obs log with debug logging enabled?

[2020-02-18 21:29] Boulzor2019 opened #417 "[QUESTION] How to use multiple instances of obs-websocket ?"
##### Issue type
It's just a question It is simply a question of how to start multiple instances of OBS and start obs-websocket with different ports.

##### Description
I start several instances of OBS. I would like to be able to save the port used by obs-websocket in my different profiles but I have not found how to do it. It is always the same port that opens for each instance. I have found in c

[2020-02-18 22:03] tt2468 commented on #417
Try using OBS in portable mode and having one folder per obs

[2020-02-18 22:50] Boulzor2019 commented on #417
Great. Thank you so much.

It works perfectly.

[2020-02-18 22:50] #417 closed

[2020-02-19 15:12] strikedamic commented on #403
I concur. Having this ability would help me tremendously.

[2020-02-19 15:13] strikedamic commented on #403
I concur. Having this ability would help me tremendously.

[2020-02-20 04:16] BarRaider commented on #389
Trying again:
4.7.1 milestone seems empty, is this targeted to 4.7.1 or 4.8

[2020-02-20 11:04] Jimt2019 opened #418 "Where to view API usage documents"
Where to view API usage documents？For example, I choose window capture, how to get all windows？

[2020-02-23 08:17] mknooihuisen commented on #389
Doesn't this bug belong in the 4.8 Milestone @Palakis , since it looks like the 4.7.1 release has scrapped?

[2020-02-26 13:42] Palakis commented on #418
@Jimt2019

What do you mean? Getting the list of available windows from window capture settings?

[2020-02-26 13:43] Palakis commented on #418
Btw, API documentation for the latest release of obs-websocket is available here: https://github.com/Palakis/obs-websocket/blob/4.7.0/docs/generated/protocol.md

[2020-02-26 13:56] Palakis opened #421 "Migrate CI to Azure Pipelines"
OBS' CI has been running on Azure Pipelines for some months now. It can Windows, Linux and macOS environments and the jobs there run much faster than on Travis and AppVeyor.

obs-websocket uses Azure Pipelines for macOS builds. It would good to move Windows and Linux builds there as well.

[2020-03-01 19:52] andreymal opened #423 "Play/pause media source?"
Media and VLC sources have hotkeys that control playback. It would be nice to control them using websocket if it's technically possible. As I understand PROTOCOL.md, now I can only restart playback by changing the `local_file` property using `SetSourceSettings`, but it's not enough in some cases.

![](https://i.imgur.com/YORq4qT.png)

[2020-03-04 09:54] Palakis opened #424 "Make authentication enabled by default"
##### Issue type

Feature

##### Description

Encourage better security practices by default in the plugin:

- Turn the "Enable authentication" option into "Disable authentication" and make it unchecked by default
- Prompt for setting a password on first run (after the plugin is installed or when settings are reset)

[2020-03-04 10:37] #378 closed

[2020-03-05 04:58] oscadev opened #425 "Mistake in docs: "settings.use-auth" is actually "settings.use_auth"
Docs show to use "use-auth" when modifying "SetStreamSettings", but this will fail until you change it to "use_auth". Saw this when I looked at the object returned showing the correct version.

[2020-03-05 05:03] oscadev commented on #402
In my case, it works if I manually change server to "custom" first. Hoping for a fix, though.

[2020-03-05 05:05] oscadev commented on #402
@OpaqueStephanie "use-auth" should be "use_auth". I reported this docs issue earlier today.

[2020-03-05 09:23] #425 closed

[2020-03-05 09:23] #402 closed

[2020-03-08 13:23] emendes-daitan opened #427 "HotKeys: requests and events"
##### Issue type
Feature request

##### Description
Provide the ability to register events and send requests related to Hotkeys. (the main goal is to send 'PressHotkey' request)
Possible contents:
- Events
  - Hotkeys
    - HotkeyPressed
    - HotkeyUpdated
- Requests
  - Hotkeys
    - GetHotkeys
    - SetHotkey
    - PressHotkey

[2020-03-09 16:12] Palakis commented on #389
@mknooihuisen @BarRaider This was fixed in 4.7.1 indeed. Forgot to properly close it when it was released.

[2020-03-10 17:18] me-vlad commented on #399
T-bar feature included to the OBS release 25.0 (RC4 for now)

[2020-03-11 11:11] #214 closed

[2020-03-11 13:19] #406 closed

[2020-03-12 12:32] macharborguy opened #432 "Add request type to get the settings specification for a specified source type"
##### Issue type
GetSourceFilterInfo and GetSourceFilters return an empty "settings" property when default values are set.

##### Description
When requesting filters via GetSourceFilterInfo and GetSourceFilters, the response data has an empty object for the "settings" property UNLESS the fields are set to something other than their default value OR they are manually set to their default value (via

[2020-03-12 12:41] macharborguy commented on #432
Amendment to Description : Default value for filter settings CAN be set, but must be set manually, rather than automatically via Filter creation or Defaults button.

- The Color Correction filter, for example, has a default GAMMA value of 0 (zero).
- Requesting settings for that filter results in {}
- Manually change Gamma to 1
- Requesting settings again results in { gamma : 1 }
- Manually change

[2020-03-12 13:54] #414 closed

[2020-03-12 14:54] Palakis commented on #408
Fixed by #411

[2020-03-12 14:55] #408 closed

[2020-03-12 15:39] Palakis commented on #415
Per Lioran's report on Discord:

bmp works, file is created and i get the based64 reply from obs.
png Create the png file and i get disconnected from obs instantly without a reply.
I do not get disconnected and i get the base64 code fine if i dont specify the file path

{"saveToFilePath":"hello.png","sourceName":"Stream ongoing main","embedPictureFormat":"png","request-type":"TakeSourceScreenshot"

[2020-03-12 15:42] macharborguy commented on #432
Looking into the code for both obs-websocket and obs-studio regarding the processing of getting the filter settings, it appears that this is more of an obs-studio specific issue, as obs-websocket is just using a native method of obs-studio to access the filter information.

until a workaround or fix can be found and implemented directly into obs-websocket or obs-studio, if anyone needs access to s

[2020-03-14 01:14] shane-axiom commented on #230
@aaarghhh What was the problem?

[2020-03-14 08:40] aaarghhh commented on #230
It was closed. Anyway I don't remember. 😓

[2020-03-15 21:27] Palakis commented on #389
Managed to reproduce the bug, lifting the "investigation needed" label away.

[2020-03-16 08:26] rickyrombo commented on #154
I don't think these changes are still present. I made a draft PR to carry the changes from the original PR to the project. @TStod could you drive the relanding of your PR? I don't have any experience working with this project, but if needed I can try to start familiarizing myself.

[2020-03-16 08:30] Palakis commented on #154
Thanks. I'll take care of it.

[2020-03-16 12:26] Palakis opened #436 "MessagePack support"
##### Issue type

Feature request

##### Description

JSON messages have some overhead that may not suit clients/applications that require high message throughput and/or a lower message processing latency. It would be nice to implement support for binary messages encoded with MessagePack, a simple binary TLV protocol.

[2020-03-17 16:50] Palakis commented on #415
PNG saving works on Windows 7, both for file saving and embedded export. However, JPEG doesn't work at all on Windows 7.

[2020-03-17 16:52] Palakis commented on #415
JPEG doesn't work at all on Windows 10 as well.

[2020-03-17 17:17] tt2468 commented on #415
Can confirm though that png and jpg works fine on linux

[2020-03-17 17:18] Palakis commented on #415
@tt2468 Thanks!

[2020-03-17 21:14] #415 closed

[2020-03-17 21:39] mknooihuisen commented on #389
Thanks for working on this @Palakis!

[2020-03-18 00:07] #389 closed

[2020-03-18 05:06] michaeltoohig commented on #423
I would really love to have this also, especially the play/pause and restart actions. It would help me with #396 since I am currently monitoring for playback failures and have to re-send the `local_file` to restart playback, which works mostly.

[2020-03-20 21:32] tt2468 commented on #362
Any possibility that an event like OnVideoSettingsChanged could be implemented?

[2020-03-21 10:21] Palakis commented on #362
@tt2468 Not that I know of, currently. Haven't really looked into that.

[2020-03-21 10:23] Palakis opened #440 "Socket.IO protocol support"
##### Issue type

Feature Request

##### Description

Provide server-side support for the Socket.IO protocol over WebSockets. Potentially over HTTP Long-Polling as well.

[2020-03-21 10:25] Palakis commented on #432
@macharborguy This is normal behaviour in OBS. Settings objects only have user-set values. What I can do I provide a way to get the default settings for a specific source kind, if that's not already the case.

[2020-03-21 19:54] BarRaider opened #441 "GetVolume gives wrong values when slider under -35db"
##### Issue type
Bug report (obs-websocket 4.7.0 with OBS Studio 25.1 - 64 bit)

##### Description
GetVolume returns values that do not correlate with neither the db or the the slider's position.
For example :
0db = 1
-1db = 0.89
-2db = 0.79
-3db =
...
-10db=0.31
-20db=0.099
-30db=0.031
-35db=0.0178
-40db=0.01
.... <--- Everything under this is under 0.01
-60db=0.0009
-90db=3.1708583264844492E-05

[2020-03-21 20:04] tt2468 commented on #441
I have previously had this issue but didn't connect the dots that it was a glitch. Can confirm reproducible on 24.0.3 using Windows 10

[2020-03-21 23:16] ethaniel commented on #351
I'm going to reopen this ticket, because neither "jpg" nor "jpeg" formats work.

[2020-03-22 00:16] HugLifeTiZ opened #442 "Feature Request: Release distro-agnostic Linux tarballs to extract into $XDG_CONFIG_HOME/obs-studio/plugins"
##### Issue type
Feature Request

##### Description
Request for a Linux distribution-agnostic method to install the websockets plugin for a regular user without using a package manager.

##### Steps to reproduce and other useful info
This request is useful for anyone running the Flatpak version of OBS Studio on Linux, and especially useful for those on non-Debian distros. I was curious to see if t

[2020-03-22 17:07] Palakis commented on #351
Fixed in #437. Will be released with version 4.8.0

[2020-03-22 17:07] #351 closed

[2020-03-24 14:47] nmori opened #443 "Unable to control of GDI_Text version 2"
##### Issue type
Feature request

##### Description
If you add a text source in version 25 of OBS, the version of gdi-text will be v2.
Therefore, obs-websocket has no control over its source.
(You can only control obs-websocket if it has inherited the settings from the previous version.)

<debug log>
1.195:             "name": "disp2",
23:28:51.195:             "sources": [
23:28:51.195:

[2020-03-26 14:27] Palakis opened #444 "New request type to trigger scripts"
##### Issue type

Feature Request

##### Description

Provide a way to trigger scripts from obs-websocket

[2020-03-26 14:31] Palakis opened #445 "New request type to get/set source Audio Monitoring mode"
##### Issue type

Feature Request

##### Description

Add request types to get & set source Audio Monitoring mode.

[2020-03-26 19:55] ethaniel opened #446 "ETA for 4.8.0?"
Hi! I've got 2 questions:

1. Is there an ETA fo 4.8.0?
2. What's the best way to financially sponsor this project?

[2020-03-27 02:13] tt2468 commented on #446
I'm also wondering about question 2

[2020-03-27 02:53] Palakis commented on #446
@ethaniel Regarding 1), 4.8.0 will probably be released around mid-April.

@ethaniel @tt2468 Regarding 2), an Open Collective is in the works so that both individuals and companies will be able to donate money towards the project. In the meantime, my personal PayPal donation box is open: https://www.paypal.me/stephanelepin

[2020-03-27 18:12] tscizzlebg opened #447 "Seemingly successful install, but no "Websocket server settings" in Tools menu. Windows 7."
##### Issue type
Bug report

##### Description
Installed obs-websocket, but then I opened OBS, and the "Tools" menu does not contain an item for "Websocket server settings".

##### Steps to reproduce and other useful info
1. From this repo's releases, run the installer "obs-websocket-4.7.0-Windows-Installer.exe".
2. Take all the defaults, including clicking "Ok" or whatever, when it says the obs f

[2020-03-27 21:59] tscizzlebg commented on #447
Ok, here's the beginning of the log, up through the relevant part (I assume).

Looks like a few modules failed to load, including the websocket dll. That file is present, so I don't think it's about the file not existing, but perhaps one of the earlier failures caused that failure.

[code]

[2020-03-28 18:13] #421 closed

[2020-03-29 14:23] #443 closed

[2020-03-29 14:26] Palakis commented on #398
Tied to #154

[2020-03-29 14:32] Palakis commented on #198
Depends on #275

[2020-03-29 14:34] #446 closed

[2020-03-29 14:35] Palakis commented on #345
Tied to #134

[2020-03-29 22:19] #154 closed

[2020-03-29 22:19] #398 closed

[2020-03-30 19:26] strotlog commented on #398
Thank you very much Palakis!

[2020-03-31 07:45] Palakis commented on #398
@strotlog You can play with these changes using the latest test build (requires the [Universal VC++ Runtime](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads). It's the VC2015, VC2017 and VC2019 runtimes in a single redistributable): https://dev.azure.com/Palakis/obs-websocket/_build/results?buildId=1032&view=artifacts&type=publishedArtifacts

[2020-03-31 07:46] Palakis commented on #447
@tscizzlebg Try installing the Universal VC++ Runtime (VC2015, 2017 and 2019 in a single redistributable) and tell me if it works on your end: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2020-03-31 07:52] Palakis opened #450 "Target Windows builds to VS2017, same version as OBS Studio"
##### Issue type

Bugfix

##### Description

obs-websocket is now compiled using Visual Studio 2019. Have the WIndows installer check if the Universal VC++ Runtime is installed, and prompt the user to make it install if it is not the case.

Redistributable downloads: https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

[2020-03-31 09:55] Palakis opened #451 "Feature Request: Source settings input validation"
##### Issue type

Bug report

##### Description

Some settings in sources and filters have limits, like the range of a number or the possible values of an enum. Make sure obs-websocket validates these inputs before applying them on a source or a filter.

[2020-03-31 14:56] tscizzlebg commented on #447
@Palakis Thanks!

After installing that, just reopen OBS? Or might it require an uninstall and reinstall of obs-websocket?

[2020-03-31 15:03] Palakis commented on #447
@tscizzlebg Just reopen OBS

[2020-04-01 19:17] 22hn opened #454 "[Bug] GetTextGDIPlusProperties/SetTextGDIPlusProperties reports "not a text gdi plus source""
##### Issue type
Bug report

##### Description
Seems like GetTextGDIPlusProperties/SetTextGDIPlusProperties fails to correctly identify supplied source name as a gdi text source.

##### Steps to reproduce and other useful info
Simple test from VB.NET
var test01 = _obs.Api.GetTextGDIPlusProperties("TEST01");
throws the error.

##### Technical information
debug log shows that the TEST01 source is in

[2020-04-01 20:43] iarspider opened #455 "[CRASH] Enabling studio mode leads to crash"
##### Issue type
Crash report

##### Description
Changing studio mode leads to crash

##### Steps to reproduce and other useful info
*If it's a bug, please describe the steps to reproduce it and PLEASE include an OBS log file. Otherwise, remove this section.*

1. Enable studio mode with `EnableStudioMode` request (same issue with `ToggleStudioMode`)
2. Observe: "stuidio mode" button in OBS is togg

[2020-04-01 20:47] Palakis commented on #455
Duplicate of #389. This has been fixed in #434.

[2020-04-01 20:49] Palakis commented on #455
@iarspider This will be released in obs-websocket 4.8.0. If you depend on that feature, I can provide you a test build.

[2020-04-01 20:49] #455 closed

[2020-04-01 20:57] iarspider commented on #455
@Palakis yes please! You can send it to (my github name).at.gmail.com

[2020-04-01 21:05] Palakis commented on #455
@iarspider Grab it here: https://dev.azure.com/Palakis/obs-websocket/_build/results?buildId=1032&view=artifacts&type=publishedArtifacts

[2020-04-01 21:22] iarspider opened #456 "[Feature] Refresh browser source"
##### Issue type
Feature request

##### Description
Programmatically press "Refresh cache of current page" button in browser source properties

[2020-04-02 15:04] tscizzlebg commented on #447
Reporting back after installing Universal VC++ Runtime: No change. And checked the log file and it looks the same.

[2020-04-03 04:07] yurivict opened #457 "Please add the cmake option for lib/amd64-linux-gnu/obs-plugins/obs-websocket.so"
##### Issue type
Bug report.

##### Description

Installs the plugin into two places.
[code]
The ```dirty trick for Ubuntu``` should be made conditional on the cmake option, because others don't need it.

##### Steps to reproduce and other useful info
Install the project.

##### Technical information
FreeBSD 12

##### Development Environment

[2020-04-03 04:19] yurivict opened #458 "Listens only on IPv6. The user should be able to choose IPv6 vs. IPv4"
##### Issue type
Feature request

##### Description
Listens only on IPv6.

There should be a way to control which type of network does the user prefer: IPv4, IPv6 or both.

##### Technical information
FreeBSD 12

##### Development Environment

[2020-04-05 05:30] jborris opened #459 "OBS Will Not Open"
##### Issue type
Bug report? Feature request? Other?

##### Description
Whenever I try to this plugin, OBS Stops working.  The application will not open.  Crash/Freeze and unloads

##### Steps to reproduce and other useful info
Install OBS latest 64 bit version 25.0.1 64Bit, Then install the WEbSockets
Start OBS.  It never opens.   App opens for a second in task manager and closes.

[2020-04-05 01

[2020-04-06 16:22] yurivict opened #460 ""An unknown network error happened on your system." - please replace with the network description"
##### Issue type
Message improvement suggestion.

##### Description
The message "An unknown network error happened on your system." needs to be replaced with the network error description that has occurred.  Please note that systems don't define ```EUNKNOWN```, the errors are always specific, for example ```ECONNREFUSED```, ```EISCONN```.

##### Steps to reproduce and other useful info
Error messa

[2020-04-06 17:36] Palakis commented on #450
Same as in https://github.com/Palakis/obs-ndi/issues/410 :

[2020-04-06 18:00] #450 closed

[2020-04-10 01:40] N05h3ll opened #462 "uninstall if manual copmpiling on linux ."
Is there anyway to uninstall the package if i have compiled it my self in linux .

if any please provide me with a guide 😄.

[2020-04-10 22:53] christianscheuer opened #465 ""Quit OBS" crashes OBS if there's an open websocket connection"
##### Issue type
Bug report

##### Description
* OBS crashes on exit if there's an open websocket connection.

##### Steps to reproduce and other useful info
* Open a websocket connection to obs-websocket
* Fire off some commands
* Choose "Quit OBS"
* OBS crashes.

##### Comment
It should not crash OBS if there's an open websocket connection.
The opener of the connection might not be aware that th

[2020-04-12 15:51] lebaston100 opened #466 "TransitionBegin has duration field when using T-bar"
##### Issue type
Bug report/Feature request/nitpicking ;)

##### Description
When using the T-bar in obs 25 starting a fade creates the TransitionBegin event. But this event includes a duration field with a value of 300 in my case. Technically you can't know how long that transition will be so it is kinda "misleading". Some way to know that the t-bar was used instead of reporting a duration might

[2020-04-13 14:07] tscizzlebg commented on #447
Any thoughts based on that result?

[2020-04-14 13:50] Palakis commented on #447
@tscizzlebg Can you try this build, please? https://dev.azure.com/Palakis/obs-websocket/_build/results?buildId=1125&view=artifacts&type=publishedArtifacts

[2020-04-15 07:56] Palakis commented on #459
@jborris Your version of obs-websocket (4.3.0) is way too old, and the version of Qt it was built for (5.7.0) doesn't match the version of Qt OBS uses (5.10.1). Please update obs-websocket and try again.

[2020-04-15 07:57] #459 closed

[2020-04-15 08:00] Palakis commented on #462
@N05h3ll While in the `build` subdirectory of the source code, where the `Makefile` for obs-websocket resides, run `sudo make uninstall`.

[2020-04-15 08:00] #462 closed

[2020-04-15 08:08] Palakis commented on #458
This bug seems specific to FreeBSD, as other platforms both support IPv4 and IPv6.
I don't officially support FreeBSD for obs-websocket releases, though I don't mind receiving a patch for that bug if you open a Pull Request to fix it.

[2020-04-15 08:08] #458 closed

[2020-04-15 08:10] Palakis commented on #454
Fixed in #448

[2020-04-15 08:10] #454 closed

[2020-04-15 08:13] Palakis commented on #432
What I can do is add the ability to fetch the settings spec for a specified source kind.

[2020-04-15 08:14] Palakis commented on #423
I believe this should belong to the scope of #288

[2020-04-15 08:14] #423 closed

[2020-04-15 08:16] Palakis commented on #137
@masikh I don't usually handle patch submissions through the Issues section. Could you please open a Pull Request for this?

[2020-04-15 08:27] Palakis commented on #259
Should be fixed in OBS v25

[2020-04-15 08:27] #259 closed

[2020-04-15 08:29] Palakis commented on #223
@Lange Could please test this with OBS v25 and the latest test build? https://dev.azure.com/Palakis/obs-websocket/_build/results?buildId=1125&view=artifacts&type=publishedArtifacts

[2020-04-17 21:38] DwaigonAumer commented on #26
Is this feature still on the list?

[2020-04-18 02:59] afriza opened #468 "obs-websocket crashed when exiting and websocket client disconnect itself"
##### Issue type
Bug report

##### Description
*obs-websocket crashed when exiting and websocket client disconnect itself (as a response to `Exiting` event)..*
This is similar to issue #465 but the stack-trace looks different.

##### Steps to reproduce and other useful info
* Run OBS
* Run websocket client that disconnect itself upon receiving `Exiting` event
* Exit OBS

*This doesn't always get r

[2020-04-21 00:24] ArjixGamer commented on #447
Wow, this issue is going on for weeks now. That's some dedication, I would have already given up at this point.

[2020-04-21 00:36] tscizzlebg commented on #447
Slowness from my end is cuz I don't have access to the device all the time unfortunately.

[2020-04-21 08:18] Palakis commented on #447
@tscizzlebg Oh btw I see you're running OBS v23. I'd recommend updating to OBS v25, as obs-websocket 4.8 depends on features introduces in v25

[2020-04-21 13:59] tscizzlebg commented on #447
Sounds good. (Reason I used 23 is that the current OBS download page says it supports Windows 8, 8.1, and 10, so I looked at changelogs and dates for older versions and guessed that 23 would still support 7. But sounds like that was unnecessary, and may yet be the issue itself.)

[2020-04-21 19:11] nnm103 opened #472 "Automate a scene switch when Start Streaming"
##### Issue type
Other / Feature Request

##### Description
When I hit start streaming on the remote, is there a way to automate a change of scenes immediately as part of one button press (start Streaming)?

Thank you.

[2020-04-22 02:10] tt2468 opened #473 "TakeSourceScreenshot needs optional tuning parameters"
##### Issue type
Feature request

##### Description
Rendering the raw screenshot is a nice efficient process. Unfortunately, when saving the image to file with `sourceImage.save(absoluteFilePath)`, compression is default to automatic. In a number of situations, this is fine. But it can take upwards of 500ms to compress the raw image using the automatic compression, and that can cause big issues fo

[2020-04-23 07:43] joedemax commented on #399
Which release will this be included in?

[2020-04-23 16:38] tscizzlebg commented on #447
Used the latest versions of OBS and obs-websockets and it works. So OBS is 25, obs-websocket is 4.7, and it works fine. Me preemptively trying to use compatible versions was worse then just using the latest. Lesson learned. Thanks for the responses!

[2020-04-23 17:56] #447 closed

[2020-04-24 03:43] Liferocka opened #475 "OBS Websocket crashes when using Touch Portal."
##### Issue type
Bug report? OBS Websocket Touch Portal
 Feature request? Other?

##### Description
* I have OBS installed version Ver. 24.0.6. running on Mac OS X10.11.6 (That the latest OX my old mac will run.*

##### I run OBS fine. I wanted to use Touch Portal with my iPhone.
I downloaded the OBS Websocket app. installed it.
Evey tiem I have OBS open and open Touch Portal, it runs the websocke

[2020-04-28 09:40] #457 closed

[2020-04-28 18:03] ArhScriptEngineer opened #479 "OBS Remote protocol support"
##### Issue type
Bug report

##### Description
Websocket error:
Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received

##### Steps to reproduce and other useful info
try connect from http://client.obsremote.com/

##### Technical information
- **Operating System** : Windows 10 (1903)
- **OBS Studio version** : 25.0.8 (64bit)

[2020-04-28 18:06] tt2468 commented on #479
OBSRemote is no longer in development. Now while I'm not sure if obs-websocket is supposed to still support it, have you tried the newer t2t2 interface? http://t2t2.github.io/obs-tablet-remote/

[2020-04-28 18:20] ArhScriptEngineer commented on #479
Thanks for this information

[2020-04-28 18:20] #479 closed

[2020-04-28 18:49] tt2468 commented on #125
A call like this is relatively redundant. You can use `GetSourceSettings` to grab the playlist, and `SetSourceSettings` to set the playlist.

Example `GetSourceSettings` response: `{'sourceName': 'VLC Video Source', 'sourceSettings': {'playlist': [{'hidden': False, 'selected': False, 'value': 'Z:/Videos/2020-02-04 20-31-19.mp4'}, {'hidden': False, 'selected': False, 'value': 'Z:/Videos/2020-02-04

[2020-04-29 00:38] kylebjordahl opened #480 "Remote Application Name in OS Notifications"
##### Issue type
Feature request

##### Description
On connect, OBS shows a message to say that a new connection has occurred (a great feature!); it would be great to be able to provide an optional remote application name as part of one of the initial messages to display in that message (along with the IP address info).

I think it could be added as an argument to `GetAuthRequired` so that the app

[2020-04-30 13:41] #125 closed

[2020-04-30 13:42] tt2468 commented on #126
Going to close this issue for inactivity. If you still need help, feel free to open a new one.

[2020-04-30 13:42] #126 closed

[2020-04-30 13:48] #137 closed

[2020-04-30 13:51] tt2468 commented on #480
While I think this would be a cool feature, can you think of any other parts of the system that this can be used in? Having a request field which only sets a string in the notification seems a bit odd.

[2020-04-30 13:57] tt2468 commented on #475
Could you try to replicate the same issue with the latest version of OBS Studio? Considering you are running such an old MacOS version, it could be any number of things. From looking at the crash report it seems like it may be originating from within OBS itself. An OBS log would also be helpful.

[2020-04-30 13:59] tt2468 commented on #472
This functionality would entirely depend on whatever remote client you are using. In which case, you will need to contact the developers of that application. This library is only the server-sided plugin.

[2020-04-30 13:59] #472 closed

[2020-04-30 17:39] #460 closed

[2020-04-30 17:41] tt2468 commented on #257
Closing this thread since it has been inactive for quite a while. If you still need help, reopen the issue or start a new one.

[2020-04-30 17:41] #257 closed

[2020-04-30 18:04] Liferocka commented on #475
The latest version of OBS. I can’t install on my old OS. I would need to have a later OS. I cannot update my Mac Pro (early 2008) to any later OS version. My machine is so old the newer OS do not install. The only way is to

[2020-04-30 18:10] tt2468 commented on #396
This sounds like it could be an obs issue. Can you confirm that the issue is still active in the latest obs version? (25.0.7)

[2020-04-30 18:18] #386 closed

[2020-04-30 21:38] tt2468 commented on #243
I believe that both updating and refreshing the image slideshow can be done using the `SetSourceSettings` request.

[2020-04-30 21:48] Palakis commented on #480
The problem I have with this is that the application name can easily be spoofed that way.

What I have in mind for a potential future security model for obs-websocket:
- User provides the global password to the client app
- Client app tries to connect use the global password
- The plugin pops up "X is trying to connect to your obs-websocket server. Approve, Approve once or Deny?"
- If the user cli

[2020-04-30 23:34] tt2468 commented on #209
@LanceLake @Zackery

If you are still interested, I've made a simple script in Python that exposes obs-websocket as a simple HTTP server (so you can use stream deck or whatever you want). See https://github.com/IRLToolkit/obs-websocket-http

[2020-04-30 23:35] #418 closed

[2020-05-01 01:33] Talon876 commented on #209
I was able to get this working using this [command line tool](https://obsproject.com/forum/resources/command-line-tool-for-obs-websocket-plugin-windows.615/).

I do all scene management on my gaming PC but I am using this to start and stop recordings. However, you can configure it to set the scenes as well. One thing that this doesn't do is hook back in to the Stream Deck to update the icons based

[2020-05-01 01:39] tt2468 commented on #209
@Talon876 I suppose I could look into building something to directly interface with the stream deck, but it would be separate from the project above.

[2020-05-01 03:29] tt2468 commented on #468
Unable to replicate on Ubuntu 20.0.4 using latest compiled OBS (25.0.8) and obs-websocket (v4.8.0 technically)

What if you used a newer OBS or obs-websocket version? Does the problem persist?

[2020-05-01 03:29] tt2468 commented on #465
Unable to replicate on Ubuntu 20.0.4 using latest compiled OBS (25.0.8) and obs-websocket (v4.8.0 technically)

What if you used a newer OBS or obs-websocket version? Does the problem persist?

[2020-05-02 17:37] rkhoo commented on #475
Hi, I have the same issue when using the latest OBS 25.0.8 with version 4.7 of this plug-in. Please advise.

[2020-05-02 17:38] rkhoo commented on #475
On Windows 10.

[2020-05-02 17:39] tt2468 commented on #475
@rkhoo Are you also using touch portal?

[2020-05-02 19:27] faithoflifedev commented on #465
I think I'm seeing a bug related to this.  On OSX 10.15.4 with OBS25.0.8 and obs-websocket cloned today, I can make OBS crash by sending the command sequence "StartStopStreaming", "GetStreamingStatus","StartStopStreaming", "GetStreamingStatus", "StartStopStreaming", after authentication of course.

Essentially what I am trying to do is start a second streaming session.  The second "start" always c

[2020-05-02 20:00] tt2468 commented on #465
@faithoflifedev Go ahead and create a separate issue with a crash dump (if you have one)

[2020-05-02 20:07] #480 closed

[2020-05-02 22:13] CVHvisuals opened #485 "GetStudioModeStatus"
##### Issue type
Bug report

##### Description
I am not receiving an update with the GetStudioModeStatus call

##### Steps to reproduce and other useful info
obs.send('GetStudioModeStatus').then(result => {
            _studioStatus = result.studioMode;

##### Technical information
Mac
- **OBS Studio version** :
25.0.8  Websocket v4.8.0

I have almost no knowledge of js besides what I learned this

[2020-05-03 02:45] faithoflifedev opened #486 "OBS crash on streaming restart when start and stopped through WebSocket"
##### Issue type
Bug report

##### Description
 I can make OBS crash by sending the command sequence "StartStopStreaming", "GetStreamingStatus","StartStopStreaming", "GetStreamingStatus", "StartStopStreaming", after authentication of course.

Essentially what I am trying to do is start a second streaming session. The second "start" always crashes OBS.

##### Steps to reproduce and other useful inf

[2020-05-03 03:32] tt2468 commented on #486
I attempted to reproduce this with latest obs-websocket and obs v25.0.8 on Ubuntu 20, but was unable to reproduce.

I performed each request sequentially, each one waiting until obs-websocket sends a response before continuing to the next request. No artificial delays added.

[2020-05-03 16:04] faithoflifedev commented on #486
An update, I tried with obs-studio_20200503-git-1_amd64.deb which I just compiled and obs-websocket 4.7.0-1 since I could not get the latest source to compile. O/S is Ubuntu 18.04.4 LTS.

I'm seeing the identical problem as with OSX.  @tt2468 , how are you sending commands through obs-websocket?  I've used ws-websocket-js as well as a dart language library that I'm working on, bith have the same r

[2020-05-03 17:33] tt2468 commented on #486
I'm controlling using my simpleobsws library. Here is the code:
[code]

[2020-05-03 17:56] dakom opened #487 "Custom filter settings?"
##### Issue type
Other

##### Description

I'm just sortof looking things, gathering some preliminary info for an idea...

If I write a filter that controls, say, chromakey in a specific way - and exposes a few settings like Source Color and Replace Color - can I use obs-websocket to change those settings on the custom filter remotely?

If so- do you mind sharing a rough high-level view of what's

[2020-05-03 18:12] tt2468 commented on #487
So in the api there is no option to directly update a source filter, however there are options to get, remove, and add filters.

See [here](/docs/generated/protocol.md#getsourcefilterinfo) for how to get the source filter info and settings. Below it are `AddFilterToSource` and `RemoveFilterFromSource`.

So if you want to update a filter's settings, you would get the filter settings format with `Ge

[2020-05-03 18:54] faithoflifedev commented on #486
I simplified you test to provided to the following:

I can make the problem occur with the following sequence of actions:

1. python3.7 test.py (then wait for streaming to start)
2. python3.7 test.py (then wait for streaming to stop)
3. python3.7 test.py (the connecting button goes grey and I have to force quit causing a crash dump)

[2020-05-03 20:57] michaeltoohig commented on #396
I have seen the issue in 24 and I already made a work around that checks if the video is playing by taking a screenshot and comparing some pixels so I haven't been paying attention to this issue anymore.

I'll have to test 25 a bit before I move it into production where I could add some logger to my code to see how often the work around is called.

[2020-05-03 23:07] tt2468 commented on #486
I still couldn't get it to crash. Does streaming encoder change the behavior at all?

[2020-05-04 05:15] dinther opened #488 "Inconsistency for scene name in currentScene data object"
##### Issue type
Inconsistency for currentScene data object.

##### Description
SwitchScenes event returns a data object holding the currentScene information. The data.sceneName property holds the scene name.

getCurrentScene returns a data object however, in this case data.name property holds the scene name.

As I believe we are dealing with the same data I would expect the variable name for the

[2020-05-04 05:23] tt2468 commented on #488
Yeah this is known. You will also find scene name keys called `scene`, `scene-name`, and `sceneName` in various parts of the api. We are going to completely redo the data naming in a future release, and it will follow google's json standards.

[2020-05-04 05:30] dinther commented on #488
Cool. There are a lot of API calls that need adding at this point. Will it get wss ?
If you need any help reviewing design aspects of the API I'd be happy to help out.
Years back I did the same for the Google Earth Team at Google.

[2020-05-04 05:30] #488 closed

[2020-05-04 05:31] tt2468 commented on #488
wss is up to Palakis but for now stunnel can be used.

[2020-05-04 07:24] Palakis commented on #487
[`SetSourceFilterSettings`](https://github.com/Palakis/obs-websocket/blob/4.7.0/docs/generated/protocol.md#setsourcefiltersettings) is available since obs-websocket 4.5.0

[2020-05-04 07:25] #487 closed

[2020-05-04 07:58] dakom commented on #487
Very cool... @Palakis is there an example of using `SetSourceFilterSettings` somewhere? I tried searching the repo but didn't see anything

[2020-05-04 20:50] derMiepz opened #489 "OBS crashes when closing"
##### Issue type
Bug report

##### Description
OBS crashes when shutting down. Nothing was connected via websocket

##### Steps to reproduce and other useful info
I just started and closed OBS. Crashlog: https://pastebin.com/1qFP4R2C

##### Technical information
- **Operating System** : Windows 10 1909
- **OBS Studio version** : 25.0.8

[2020-05-05 17:58] faithoflifedev commented on #486
I'll test the above hopefully later today.  My current work-around is to restart OBS before starting the stream through a websocket.  So my shell script first starts OBS then runs my websocket related code.  Another script runs later and uses websockets to stop the stream and then shutdown OBS.

[2020-05-08 17:27] kelexel opened #490 "Feature request: GetWindowsTitles"
##### Issue type
Feature Request

##### Description
In order to remotely set the "Window Capture" source settings via the API, we require a way to list the "window titles" as OBS sees them, in order to later do something like:
```obs.send('SetSourceSettings', {sourceName: 'Window Capture', sourceSettings: {window: 'SOME_APP_WINDOW_TITLE'} })```

Would it be possible to implement such method that w

[2020-05-08 19:56] tt2468 commented on #490
I'm not sure if that feature would be worth adding, since it is outside of the scope of OBS, and more about the window system of the OS. It would also require special handling for windows, macos, and linux.

[2020-05-08 19:59] tt2468 commented on #485
What OS is obs-websocket running on? I was able to perform the request just fine: `{'status': 'ok', 'studio-mode': False}`

[2020-05-08 20:39] tt2468 commented on #489
Please provide your obs-websocket version, along with any other OBS plugins you have installed. Using OBS 25.0.8 on windows 1909 and obs-websocket 4.7 (release build), I have not experienced any crashes. These are the plugins I have installed
![image](https://user-images.githubusercontent.com/28720189/81447360-598c1880-9131-11ea-9f7d-da5dd6430d24.png)

[2020-05-08 21:03] tt2468 opened #492 "EnableStudioMode, DisableStudioMode crashes OBS on Windows 1909"
##### Issue type
Bug report

##### Description
Using the `EnableStudioMode`, `DisableStudioMode`, and `ToggleStudioMode` requests crashes OBS on Windows 10 1909.

##### Steps to reproduce and other useful info
- Load OBS v25.0.8 on a Windows 1909 system with OBS-Websocket v4.7
- Use a script to send any of the above mentioned requests
- OBS Crashes while trying to toggle studio mode.

##### Techni

[2020-05-08 21:10] tt2468 commented on #492
Forgot to mention, I tested this on 2 computers running Windows 1909, and one running Ubuntu 20.04. Both windows PCs crashed, but the Ubuntu pc worked just fine.

[2020-05-08 21:15] derMiepz commented on #489
I was actually on 4.6.1 and wasn't able to repro this issue. We'll see if it happens on 4.7.0. I think we can close this issue for now and I will reopen it if I have the ability to do so.

[2020-05-08 21:23] #489 closed

[2020-05-08 21:41] Liferocka commented on #475
@rkhoo Hi, any updates on why websocket makes crash at open: OBS Operating System : OS X 10.11.6, OBS Studio version : 24.0.6. Again I can not update to the latest OBS or any newer Mac oS, since my computer is out dated for the newer os. I only can use El Capitan 10.11.6. Thanks
I

[2020-05-08 22:17] tt2468 commented on #64
This still happens, but since it's a behavior of the OBS api, it would be challenging to fix on the plugin side.

[2020-05-08 22:17] #64 closed

[2020-05-09 00:37] kelexel commented on #490
Hmm, well I understand..
I'm controlling chrome on windows via puppeteer, opening & closing chrome windows remotely.
The Window Capture source is supposed to pick another instance of Chrome if I close and restart it, which it does, but than the image is frozen (exactly like the Window Capture Xcomposite issue in linux).
But, setting the "window" option of Window Capture, or, removing and adding a

[2020-05-09 00:43] CVHvisuals commented on #485
Thanks for the reply. I can get the initial status. The issue I am having is that is does not seem to stay alive after the request.
I am using the websocket on PC and Mac. 4.8v
I am having the same issue with the timecodes for record and stream.
it loads the initial time as a snapshot instead of staying alive.
I am using this with java and html interface on iOS.
![C79A361F-0E45-4931-81D5-5F929B415

[2020-05-09 00:56] tt2468 commented on #490
Well if your window names are predictable, you should be able to reset the source by doing `ResetSceneItem`

[2020-05-09 01:06] tt2468 commented on #485
Sounds like you are now talking about a different problem. What events/requests are you using with this new problem? I haven't had any timecode issues and I use it all the time.

[2020-05-09 01:44] CVHvisuals commented on #485
obs.send('GetStudioModeStatus').then(result => {
_studioStatus = result.studioMode;

I am learning java, I may not be implementing this correctly.

[2020-05-09 02:22] kelexel commented on #490
Oh, thank you, it works!
When I close and restart a Chrome instance, I also emit a ResetSceneItem on the Window Capture item, and it refreshes the UI properly, both in regular and studio mode!
Thank you so much!

ps: I guess you can close that ticket ;)

[2020-05-09 03:37] tt2468 commented on #490
Glad it worked

[2020-05-09 03:37] #490 closed

[2020-05-09 03:39] tt2468 commented on #485
So the response key name is `studio-mode`, not `studioMode`. I don't know java, but this stackoverflow article seems to describe how to use kebab case: https://stackoverflow.com/questions/43536921/json-response-with-dash-in-the-key-name

[2020-05-09 04:04] tt2468 commented on #441
So update on this. The value coming out of obs-websocket is actually the linear current of the audio. Measered in uA.

Using [this chart](http://emc.toprudder.com/formulas2.pdf), the calculation to go from the linear measurement (uA) to logarithmic measurement (dBuA) is `dBmA = 20log(uA)`

I'll push a clarification in the documentation after I learn more about these calculations.

[2020-05-09 06:10] exeldro opened #494 "OBS Media functions"
##### Issue type
Feature request

##### Description
Since version 25 obs has new media functions, it would be very useful if we can use them.

##### Technical information
void obs_source_media_play_pause(obs_source_t *source, bool pause);
void obs_source_media_restart(obs_source_t *source);
void obs_source_media_stop(obs_source_t *source);
void obs_source_media_next(obs_source_t *source);
void obs

[2020-05-09 06:10] BarRaider commented on #441
Wow, that's an interesting find @tt2468!

[2020-05-09 06:27] tt2468 commented on #494
Good idea. I'll work on this soon

[2020-05-09 10:21] nxtreaming commented on #485
This interface looks very beautiful
Where can I get it ?

Thanks.

[2020-05-09 22:12] CVHvisuals commented on #485
Thank you tt2468. I will do research for conversion or translating from kebab. You can mark this as closed since it is a coding issue on my part.

Thanks nxtreaming. The app is still a work in progress, and getting feedback from a couple parameters needs to be addressed. I will most likely post in OBS Forums once it is complete.
Thanks for the interest.

[2020-05-09 22:12] #485 closed

[2020-05-10 17:11] borazslo commented on #492
Same here.
Windows 10 1909 Pro.
OBS v25.0.0

[2020-05-11 06:26] CVHvisuals commented on #492
same results on mac.

[2020-05-11 16:18] bennytheg opened #498 "Stupid thing holding me back"
Issue type

Description
I'm using following bat script to TRY and get this working, I am using a stream deck to control my streaming PC using NDI from the other side of my house and I want the Stream Deck to stay plugged into my Gaming PC:

@ECHO OFF
cd /d D:\OBSCommand
OBSCommand.exe /server=//192.168.0.62:4444
OBSCommand.exe /scene=another
PAUSE

Except it doesn't change the scene, it just says

[2020-05-11 16:19] bennytheg commented on #498
sorry, wrong repo, I was after the "command line" one

[2020-05-11 16:19] #498 closed

[2020-05-11 19:47] Rosuav opened #499 "Use of std::optional breaks build on GCC 6.3.0 (and others)"
##### Issue type
Bug report

##### Description
std::optional is a C++17 feature and not available on all compilers. Its use mandates a very recent compiler, but the cmake configuration doesn't error out.

##### Steps to reproduce and other useful info
Checkout commit a0dce77 or anything newer. Attempt to build. If your GCC is new enough to claim to support (some of) C++17, but not new enough to be

[2020-05-12 08:33] artdevgame opened #500 "Reliably testing a removed scene"
##### Issue type
Feature request

##### Description
I would like to know when a scene is removed.

* `ScenesChanged` doesn't fit my purpose as it doesn't disclose what the scene name was or the action that happened
* `SourceDestroyed` is a pretty close fit, but the event is also dispatched when OBS is closed and I can't see a way to distinguish it from the one that is dispatched when deleting a sc

[2020-05-12 08:51] stephenangelico commented on #499
Cannot reproduce on GCC 8.3.0 on Debian Buster 10.4. Build just worked without issues.

[2020-05-12 20:50] tt2468 commented on #500
obs-websocket emits the `Exiting` event before it emits `SourceDestroyed` on exit, so you can disable whatever your code is that runs when `SourceDestroyed` is emitted when `Exiting` is recieved.

[2020-05-14 04:05] soumyadeep-ghosh opened #502 "Not receiving GetAuthRequired"
##### Issue type
Question

##### Description
So as per my understanding the obs-websocket sends data over socket 4444 in JSON Format. So, after connecting using Sockets in Java (no 3rd Library), it says that the Connection to Socket 4444 is successful. But when I try to send "{'request-type':'GetAuthRequired','message-id':'ID0'}" as GetAuthRequired JSON, the socket return nothing, and shown as NUL

[2020-05-14 05:11] artdevgame commented on #500
Thanks @tt2468, I'll do that.

[2020-05-14 05:11] #500 closed

[2020-05-14 05:58] tt2468 commented on #502
I understand that you don't want to use a premade library, but you might have luck looking into one of those premade libraries and comparing with your code to see if you made any mistakes somewhere.

[2020-05-14 08:33] Palakis commented on #466
This is a bit tricky to detect whenever a transition is a tbar. I need to contribute a fix to libobs so that I can access the transition mode (auto or manual) which is available internally in transitions but not through the libobs API.

[2020-05-14 11:34] #243 closed

[2020-05-14 11:39] tt2468 commented on #198
Duplicate of #152

[2020-05-14 11:39] #198 closed

[2020-05-14 17:03] soumyadeep-ghosh commented on #502
Thank you, I had some basic misunderstanding between Sockets and WebSockets

[2020-05-14 17:03] #502 closed

[2020-05-14 17:18] soumyadeep-ghosh opened #506 "Volume getting set 0.0 even when triggered as 1.0 in JSON"
##### Issue type
Other

##### Description
So I was trying to change the Volume using Web Socket. I was successfully able to get Volume, and even keep my device in Sync when the Volume is changed in OBS. But when I am try to set volume from device over at OBS, even when I am trying to set '1.0', it gets set to '0.0' in OBS.

Request JSON: {"request-type":"SetVolume","message-id":"m01","source":"Mic

[2020-05-14 18:01] #506 closed

[2020-05-14 18:02] soumyadeep-ghosh commented on #506
Self solved, my fault

[2020-05-14 20:47] #441 closed

[2020-05-14 20:49] tt2468 commented on #486
@faithoflifedev Any update on this?

[2020-05-15 00:12] borazslo commented on #492
Opps.  Duplicate of #389 and #455.  It should have been fixed in #434.

[2020-05-15 00:36] tt2468 commented on #492
@borazslo Oh wow talk about a mega oversight on my end. I forgot that my test windows PC was still on 4.7! Marking this as closed now.

[2020-05-15 00:36] #492 closed

[2020-05-15 00:48] #473 closed

[2020-05-15 01:02] #440 closed

[2020-05-15 02:20] #403 closed

[2020-05-15 02:20] #445 closed

[2020-05-15 15:07] YorVeX opened #507 "Method to rename a scene"
##### Issue type
Feature request

##### Description
Right now there doesn't seem to be a method to rename a scene. I can find out about scene renames using the ScenesChanged event but not rename a scene myself.

[2020-05-15 22:37] tt2468 commented on #507
Good idea. I'll work on this and maybe I will be able to include it into 4.8 if there's time.

[2020-05-16 03:26] YorVeX commented on #507
Thanks, that would be great! <3

[2020-05-16 18:22] tt2468 commented on #407
The filename itself is set with `SetFilenameFormatting` (default `%CCYY-%MM-%DD %hh-%mm-%ss`). OBS appends the file extension to the filename formatting.

The record file directory is set with `SetRecordingFolder`.

[2020-05-16 18:22] #407 closed

[2020-05-16 18:27] tt2468 commented on #342
This function would require heavy changes to OBS on both the media source and vlc source, along with API for each.

The solution I would give you is to wait for #497 . When it gets finished, you will be able to listen for media playback events and use `SetMediaTime` to immediately set the current media's timestamp.

[2020-05-16 18:27] #342 closed

[2020-05-16 19:52] faithoflifedev commented on #486
Sorry for the delay @tt2468 , with a work-around in place I had trouble finding time to get back to this.  I just tested with Apple TV H264 Hardware Encoder and Software Encoder, the only other options available beyond the default x264 and OBS crashes as described above.

[2020-05-17 04:51] JuanPabloGonzalez1 opened #511 "Exit application functionality"
##### Issue type
Other

##### Description
Hi! I'm developing an application in Qt using websocket to control OBS. I have already implemented a lot of functionalities using the QWebSocket class. Now I need to be able to close obs from my application but I don't think that this is possible with the current features of the obs-websocket. I also tried closing it with normal QProcess but this causes th

[2020-05-17 05:00] tt2468 commented on #511
The ability to exit OBS remotely does not currently exist. I can look into what it would take to add a request like this.

[2020-05-17 05:01] tt2468 commented on #511
Also no, it is not normal for the tray icon to persist, and you may be causing OBS to inadvertently crash. On top of that, it can cause OBS to lose data.

[2020-05-17 05:30] JuanPabloGonzalez1 commented on #511
Thank you for your respone, it would be great to have this request added.

[2020-05-17 11:32] AlcaDesign opened #512 "Get/set per-scene transition override"
##### Issue type
Feature request

##### Description
Allow getting and setting the per-scene transition override.

My intended use is to change certain scene transition overrides automatically to enable scene-to-scene transitions. Similar to the "[OBS Transition Matrix](https://obsproject.com/forum/resources/obs-transition-matrix.751/)" plugin.

##### Technical information
- **Operating System** :

[2020-05-17 17:40] tt2468 commented on #512
Is this built into OBS or is it from the transition matrix plugin? If its from the plugin then this would depend #288

[2020-05-17 17:42] AlcaDesign commented on #512
It's built-in. Right-click a scene and choose "Transition Override
![image](https://user-images.githubusercontent.com/7132646/82155619-d3ac5380-983b-11ea-8d53-fd9bb857e504.png)

[2020-05-17 18:09] tt2468 commented on #511
Unfortunately it just doesn't look like the API exists on OBS's end to call a shutdown.

[2020-05-17 18:59] tt2468 commented on #512
I've just spent some time looking into what can be done and unfortunately, OBS would quite a few changes in order to implement a request for this.

[2020-05-17 19:46] Kruiser8 opened #513 "Volume useDecibel parameter does not change format"
##### Issue type
Bug report

##### Description
GetVolume and SetVolume do not use the decibel format when the `useDecibel` parameter is supplied.

##### Steps to reproduce and other useful info
I'm using the obs-websocket-js library and running the following:
[code]
Regardless of the `useDecibel` value, I receive the volume in mul format: `volume: 0.4000000059604645`.

Similarly, `SetVolume` only

[2020-05-17 19:47] Kruiser8 commented on #513
OBS Log file: [2020-05-17 15-42-29.txt](https://github.com/Palakis/obs-websocket/files/4640901/2020-05-17.15-42-29_abridged.txt)

[2020-05-17 19:51] tt2468 commented on #513
This is because you are still on version 4.7.0, which does not support the recently added `useDecibel` parameter. You will need to update to OBS version > 25.0.7, and use the attached release candidate of the plugin.
[windows_build.zip](https://github.com/Palakis/obs-websocket/files/4640910/windows_build.zip)

[2020-05-17 19:56] Kruiser8 commented on #513
Thanks! Good to know. I was looking at the 4.x-current version of the protocol (4.8) which is actually ahead of the current release (4.7). My bad, I'll switch to looking at the protocol.md included with the 4.7 release to avoid getting ahead.

[2020-05-17 19:56] #513 closed

[2020-05-17 20:25] AlcaDesign commented on #512
How can OBS Transition Matrix do the work without modifying the OBS source?

[set_source_transition_override](https://github.com/admshao/obs-transition-matrix/blob/15f096ea143051be450e6cc8d07b501df55aa515/obs-transition-matrix.cpp#L102-L116)

[2020-05-18 17:16] CVHvisuals opened #514 "SceneCollectionChanged crashes OBS"
##### Issue type
Bug report

##### Description
SceneCollectionChanged crashes OBS

##### Steps to reproduce and other useful info
Changing Scene Collection in OBS crashes with Event Listener

##### Technical information
- **PC/Mac** :
- **25.0.8** :

[2020-05-18 18:08] tt2468 commented on #512
Hmm yeah looks like it could work. I'll try it out.

[2020-05-18 18:11] tt2468 commented on #514
I'll need your operating system version, and the obs-websocket version, along with a crash dump and OBS log if you can. It would also be helpful if you could describe in detail the steps to reproduce. I don't have much to work with here.

[2020-05-18 18:31] soumyadeep-ghosh opened #515 "How to get all the Audio Only Sources in the current Scene independent of OS ?"
##### Issue type
QUESTION

##### Description
So I was able to get the Sources that are only Audio based on Type-ID that says wasapai-audio-input/output, along with Get Special Sources Command. But wasapi is a Windows feature. Is there any way/request to make it cross platform such that it works equally in Windows as well as Linux ? Or we need to configure it according to the OS OBS is running on ?

[2020-05-18 18:42] CVHvisuals commented on #514
tt2468, thank you.
10.15.5(19F83c)
OBS v25.0.8
WebSocket v4.8.0

I sent you an invitation for the app I am working on, if you have the time to take a look. Any insight would be appreciated. I am new to creating software - 2weeks into it. It's possible this may be another mistake on my part.

[2020-05-18 19:47] tt2468 commented on #514
Alright I'll give it a look.

[2020-05-18 19:49] tt2468 commented on #515
This would need to be configured according to the OS. We don't have any audio device API in obs-websocket, only whatever OBS provides through things like `GetSourceSettings`

[2020-05-19 07:26] tconley opened #517 "obs-websocket awesomelist ?"
##### Issue type
 Other

##### Description
Has anyone made an awesomelist  (https://github.com/topics/awesome-list ) for obs-websocket? I tried looking for a list of all cool projects that connect to obs via obs-websocket and couldn't find anything.    Shall I start a repo?

[2020-05-20 07:37] bilguungda opened #518 "Scene source FFMpegSource local audio file does not play or gets played in the next scene transition"
##### Issue type
Bug report

##### Description
I'm controlling obs-studio using obs-websocket form html js file , i can succesfully change scene source audio file and change to that scene and change it back unfortunately sometimes after i change scene couple times the audio that is supposed to be played with the scene change does not play or it gets played in the next scene change request alongsid

[2020-05-20 08:18] bilguungda opened #519 "calling GetAudioMonitorType , SetAudioMonitorType results in invalid request type"
##### Issue type
Bug report

##### Description
i have obs-websocket version 4.8 but i'm unable to call GetAudioMonitorType and Set method from js , it returns invalid request type error
sending other commands such as SetSourceSettings , ChangeScene working fine

##### Steps to reproduce and other useful info
                obs.send('GetAudioMonitorType', {
                    'sourceName' : 'FFMp

[2020-05-20 23:02] tt2468 commented on #519
How exactly did you install the latest version of obs-websocket?

[2020-05-21 04:00] bilguungda commented on #519
@tt2468
I followed this instructions https://github.com/Palakis/obs-websocket/blob/4.x-current/BUILDING.md

[2020-05-21 04:32] tt2468 commented on #519
And can you confirm that you set `-DUSE_UBUNTU_FIX=true` when you ran the cmake command?

[2020-05-21 04:39] bilguungda commented on #519
@tt2468
yes

[2020-05-21 04:41] tt2468 commented on #519
Ok well I'd say that it must be something on your end, since I'm also on ubuntu 20.04 and have 0 issues running the request.

[2020-05-21 04:57] bilguungda commented on #519
@tt2468
at first i thought this is some version issue so i tested SceneItemLockChanged event which is v4.8 added event but this one working as intended when i change lock GetAudioMonitorType , Set... are the only ones that is not working :(

[2020-05-21 05:26] tt2468 commented on #519
Ok run `git log` and at the top of your screen you should see the line `commit 590943ed957386a483ec6fca2a8178f7bbd5a0d3`

if that latest commit is not the same, do `git pull` to pull the latest version of the repo and do `make -j4` and `sudo make install` again within the `build` directory

[2020-05-21 08:16] bilguungda commented on #519
@tt2468  Thank you a lot for your suggestions after i pulled and did sudo make install my SetAudioMonitorType request finally working.

i have another question if possible , after i sudo make install do i need to copy obs-websocket.so file into my obs-studio plugins folder ? in order for it work ?
because right know websocket is working without copying .so file

[2020-05-21 08:35] tt2468 commented on #519
By doing `sudo make install` you install the plugin globally for OBS.

Any time you build obs-websocket on ubuntu you have to always make sure to use the `-DUSE_UBUNTU_FIX=true` flag when using cmake, otherwise it will not install the .so to the correct directories

[2020-05-21 08:49] bilguungda commented on #519
@tt2468  got it . thanks a lot i'm closing this now

[2020-05-21 08:49] #519 closed

[2020-05-21 08:50] #518 closed

[2020-05-21 19:41] CVHvisuals commented on #514
Still having this issue, did you get a chance to take a look?
here is the thread crash:
Thread 29 Crashed:: Thread (pooled)
0   com.obsproject.obs-studio     	0x000000010d7e82b8 0x10d7b4000 + 213688
1   obs-websocket.so              	0x00000000331ffff7 Utils::GetScenes() + 39 (Utils.cpp:372)
2   obs-websocket.so              	0x00000000331e2c19 WSRequestHandler::GetSceneList(RpcRequest const&) + 4

[2020-05-21 19:42] CVHvisuals commented on #514
obs web-socket was compiled today.

[2020-05-22 02:01] CVHvisuals commented on #514
I switched to GetSourcesList instead of GetSceneList and the crash is gone. I am only using the command for source names, what would be the difference?

[2020-05-22 14:30] #511 closed

[2020-05-22 14:30] #515 closed

[2020-05-22 14:56] CVHvisuals opened #520 "IP address scan"
Is there an id we can use to receive the IP address of a local OBS Studio session?
I am investigating a method for auto filling a form for connection.

[2020-05-24 04:57] regiside commented on #399
Really excited to have this functionality in OBS! Been waiting on it for years! Thanks for your hard work on this guys!

[2020-05-24 16:53] afriza opened #521 "Feature request: Command to Exit OBS"
##### Issue type
Feature request

##### Description
It is easy to start OBS via command line/script, but to exit OBS, I need to do this using OS's kill signal feature.. However by using kill, OBS doesn't exit cleanly and my obs-websocket client doesn't get notified with "Exiting" event and doesn't handle this event nicely..

As to why I need to exit OBS via websocket, the decklink input currently

[2020-05-24 17:12] ProstoSanja opened #522 "Crating scenes and sources"
##### Issue type
Feature request

##### Description
Hey there, currently working on a small scheduler/auto-pilot for obs, and was planning on using this solution for remote control, but was surprised by there not being functions to create scenes and sources.

The option is clearly there in ` libobs/obs-source.h` and `obs.h` as i could tell from taking a glance at OBS docs.

I noticed that in this

[2020-05-24 17:40] tt2468 commented on #521
Duplicate of #511 and currently not possible, sorry.

[2020-05-24 17:40] #521 closed

[2020-05-24 17:41] tt2468 commented on #522
#341 I believe adds what you are speaking about.

[2020-05-24 19:48] ProstoSanja commented on #522
Yeah, looks pretty much like it. So is it set to be there in 4.9? Or is just on an indefinite hold?

[2020-05-24 19:50] tt2468 commented on #522
I'm actually kind of unsure of the state. It comes from before my time and from what I can tell is kind of Frozen. Might just restart from scratch since there are probably better ways to implement it

[2020-05-24 21:02] ProstoSanja commented on #522
it looked kind of okay from a glance, but ill take a proper look at the situation at some point this week then. 👌

[2020-05-26 11:58] #507 closed

[2020-05-26 12:53] ethaniel opened #523 "Refresh browser source"
Sending a "ResetSceneItem" to a browser source does not reload the page.
The only way of doing it is by changing the URL via SetBrowserSourceProperties, however that's a nuisance.

Can this be fixed?
Thank you.

[2020-05-26 13:40] lebaston100 commented on #523
Have a look at https://github.com/Palakis/obs-websocket/issues/456 . I think that's what you want.

[2020-05-26 14:34] ethaniel commented on #523
Yup, thank you, @lebaston100

[2020-05-26 14:34] #523 closed

[2020-05-26 18:54] karlthepagan commented on #517
Hopefully the Companion module is worthy some day, but right now it's not equal to the Elgato offering: https://github.com/bitfocus/companion-module-obs-studio/

[2020-05-26 19:00] karlthepagan commented on #444
Sending hotkey events into OBS would be sufficient for many plugins IMO.

[2020-05-26 19:11] karlthepagan commented on #209
Since I have a stream deck I've also been looking at Bitfocus's Companion app, which already has an OBS-websocket module. Unfortunately it's very lean. I hope to make some contributions here: https://github.com/bitfocus/companion-module-obs-studio/

I don't know if this is what you're looking for because it is a competing Stream Deck implementation.

[2020-05-26 19:17] karlthepagan commented on #152
I sometimes experience a similar issue with USB devices disconnecting. Most often this is a hardware bug or a camera has gone to sleep. I would find this feature useful for monitoring my system health.

[2020-05-26 20:02] ProstoSanja commented on #522
Hey there, i know its kinda offtop, but i seem to be unable to resolve this issue myself.
I've set everything up as is described in instructions, and i even got obs itself to build without any problems and it lauches and workes without issues.

however when i try to configure cmake for obs-websockets, i get this error, even though i set path to the libobs
[code]
i also tried doing it on my ubuntu

[2020-05-26 20:11] tt2468 commented on #522
@ProstoSanja are you building because you want to test a pr?

[2020-05-26 20:13] ProstoSanja commented on #522
Yep, and just to debug some stuff in general.

[2020-05-26 20:19] ProstoSanja commented on #522
nvm, solved it
sorry for unnecessary pings, but i guess rubber duck helped

[2020-05-26 21:48] #512 closed

[2020-05-27 07:17] Palakis commented on #517
@tconley This doesn't exist yet so feel free to start your own!

[2020-05-27 16:05] spdermn02 commented on #209
could move over to using [TouchPortal](https://touch-portal.com) it already has OBS websocket support built in (and can control OBS on another PC so if you use Gaming and Streaming PC setup it can handle OBS on the other PC no problem. That's how i have mine setup. All you need is an Android or iOS device to run the client and then your PC/Mac runs the app (server) to do all the work.

[2020-05-28 03:46] B00TK1D opened #525 "Feature Request: motion-effects integration"
### Feature Request

##### Description
It would be super helpful if obs-websockets could control control the motion-effects plugin.  It just needs two triggers per motion-effect filter: trigger motion forward and trigger motion backwards.  I'm not sure if this could be done just in obs-websockets, or if it would take work in motion-effects too.  However, this would allow things like a streamdeck t

[2020-05-28 04:02] tt2468 commented on #525
This would require #288

[2020-05-28 04:21] #522 closed

[2020-05-28 09:44] Niek commented on #26
+1 for SSL support

[2020-05-28 11:36] Palakis commented on #276
Closing this as most of it is done already and the rest deserve their own issues

[2020-05-28 11:36] #276 closed

[2020-05-29 04:53] tt2468 commented on #520
As in get the ip address that the websocket server is bound to?

[2020-05-29 05:12] BarRaider opened #528 "[Bug] GetVolume with useDecibel returns 0 for both highest and lowest value"
##### Issue type
Bug report

##### Description
When calling GetVolume with the useDecibel option, it returns 0 (correctly) when the OBS slider is at the top, at 0db. But it also returns 0 (incorrectly) when the slider is all the way at the bottom and reaches "inf" (i.e. after -99db).
Would recommend having `inf = -100` just for the sake of consistency when increasing/decreasing the volume. To elab

[2020-05-29 06:06] massiach opened #530 "19/5000 Download problem! It downloads very slowly! Is there a solution?"
##### Issue type
Bug report? Feature request? Other?

##### Description
*Replace this with a description of the bug encountered or feature requested.*

##### Steps to reproduce and other useful info
*If it's a bug, please describe the steps to reproduce it and PLEASE include an OBS log file. Otherwise, remove this section.*

##### Technical information
- **Operating System** : Windows 10
- **OBS S

[2020-05-29 10:19] tt2468 commented on #530
Please try to describe your issue in more detail by filling out the issue template.

[2020-05-29 10:25] #530 closed

[2020-05-29 23:02] CVHvisuals commented on #520
More like a web socket scanner for available connections. I would like to auto populate the IP address for connection.

[2020-05-30 12:00] CVHvisuals commented on #514
Im going to close this, as this seems to be related when OBS is on an eGPU monitor. It is the only way I can replicate it.

[2020-05-30 12:00] #514 closed

[2020-06-02 19:47] lightning-software opened #531 "Websocket only listening on localhost ipv6 in Linux"
##### Issue type
Other

##### Description
I have installed the websocket 4.6.1-1 amd64 and it only listens on localhost. I need it to listen on all IP's or be able to specify which IP to listen on so I can communicate remotely. Do I need a go between program that resides on the OBS computer to which I connect from a different computer?

##### Steps to reproduce and other useful info
Install Debian

[2020-06-03 10:18] bestlane commented on #26
Needs SSL support for web integration.

[2020-06-03 10:51] Rosuav commented on #26
I don't think it's right for obs-websocket to try to support SSL, because it would require setting up a certificate and having the appropriate private key - which is going to have to be readable by the OBS process. Much better, IMO, to do this externally. Maybe what we need is a simple recipe (for each of several OSes) showing how to set up an encryption proxy?

[2020-06-03 12:10] Niek commented on #26
After testing some solutions, I have to agree with @Rosuav. It might be useful to add something like this to the Readme:

I submitted a PR to add WSS support to obs-websocket-js here: https://github.com/haganbmj/obs-websocket-js/pull/201. It should be easy to add to obs-tablet-remote as well.

[2020-06-03 12:52] Rosuav commented on #26
That seems pretty simple. Have you checked that those two services work happily with websockets, and don't, for instance, disconnect idle connections after five seconds?

[2020-06-03 12:56] Niek commented on #26
Yes I did, I'm using it myself on 1h+ livestreams. Pagekite is open source so you can also run your own managed instance.

[2020-06-03 13:21] bestlane commented on #26
Works perfectly! It wasn't working at first as I was adding port 4444 to the wss:// address, but works once I removed it.  Thanks!

[2020-06-04 08:15] Palakis commented on #26
@Niek done! https://github.com/Palakis/obs-websocket/commit/612bd9960c245cd0ee3e3ec5b4d672c98f2afff3

[2020-06-04 16:28] schirmeier opened #534 "Debian/Ubuntu package versioning scheme is broken since 4.8.0"
##### Issue type
Bug report

##### Description
Since obs-websocket 4.8.0, the .deb release seems to provide a version in a schema that is incompatible to the previous 4.7.0, making dpkg believe it actually performs a downgrade:

$ sudo dpkg -i obs-websocket-4.8.0-1_amd64.deb
dpkg: warning: downgrading obs-websocket from 4.7.0-1 to 1-5d12dfa-4.8.0-git-1

The version also looks like this will random

[2020-06-04 21:21] tt2468 commented on #534
For reproducing, one should have 4.7.0 installed before trying to install 4.8.0, correct?

[2020-06-04 22:13] Palakis commented on #534
@tt2468 seems likely, yes

[2020-06-05 05:43] schirmeier commented on #534
Yes, sure. I modified the report accordingly. I think this boils down to dpkg (along with the whole Debian/Ubuntu packaging infrastructure) considering "4.7.0-1" > "1-5d12dfa-4.8.0-git-1". See https://www.debian.org/doc/debian-policy/ch-controlfields.html#version

[2020-06-05 11:56] Rosuav commented on #26
For LAN usage, pagekite and (I think) ngrok are both massive overkill, and also they force traffic to go out over the internet (which opens up potential password attacks). To enable encrypted access but keep things local, I tried to get something really simple:

https://github.com/Rosuav/obs-remote-volume/blob/master/proxy.py

Would it be worth migrating that into this repo and providing it as a r

[2020-06-05 12:00] Niek commented on #26
Is there really a use-case for TLS encryption inside a LAN? To acquire a LetsEncrypt certificate you need a public-facing IP anyway (or use DNS-level authentication). I'd argue that Wireguard LAN setup would be an easier setup in such a case.

[2020-06-05 12:10] Rosuav commented on #26
The use-case is that you can't use https://t2t2.github.io/obs-tablet-remote/ with anything other than localhost unless you encrypt the websocket. Because according to browser manufacturers, it's better to encrypt nothing at all than to encrypt some of it without all of it. Even if the unencrypted part is on your own LAN. Thanks, browsers, brilliant job.

[2020-06-05 12:15] Niek commented on #26
You can enable mixed content in your browser (in Chrome even on a site-specific level), but yeah - it's not ideal.

[2020-06-06 11:58] lightning-software commented on #531
Does anybody have any ideas/comments? This is a little bit urgent, as I was hoping to use this for Sunday (luckily I have a backup plan). I know it's not necessarily a bug (though, could be), but I was hoping some advice would be forthcoming.

Is this a Linux problem?
Is this normal behavior for the obs-websocket?
Am I missing something completely obvious?

[2020-06-09 06:28] tvvignesh opened #536 "Adding support for standalone obs studio"
Hi. While this works well with obs standard linux installation, it does not work with obs standalone install since it looks for a package named obs-studio which it doesn't find since it is a standalone installation.

Maybe support can be provided by asking us to provide the path to the installation. Just saying.

But, its awesome. Tried with a regular install and its great to see everything workin

[2020-06-10 16:33] CVHvisuals opened #537 "ScenesChanged - reordered"
// Feature request
ScenesChanged - Scenes have been **reordered**

//Description
ScenesChanged
The scene list has been modified. Scenes have been added, removed, or renamed.

[2020-06-10 23:04] CVHvisuals commented on #537
It doesn’t seem to be working for me on

macOS 10.15.5
Windows 10

obs-websocket 4.8

Can you confirm?

[2020-06-11 18:34] HugLifeTiZ commented on #536
This is because the maintainer only packages the plugin as a debian package. So if you didn't install OBS Studio in your package manager, the debian package won't install. You may have some luck extracting the files from the debian package manually, as described in [this issue.](https://github.com/Palakis/obs-websocket/issues/442)

[2020-06-14 12:45] nobicycle opened #538 "websocketpp/config/asio_no_tls.hpp: No such file or directory"
##### Issue type
Bug report?

##### Description
Compile problem

##### Steps to reproduce and other useful info
cmake -DLIBOBS_INCLUDE_DIR='/mnt/Archives/archives/Multimedia/Video/OBS Studio/obs-studio-25.0.8/libobs/' -DCMAKE_INSTALL_PREFIX=/usr -DUSE_UBUNTU_FIX=true ..

[CMakeOutput.log](https://github.com/Palakis/obs-websocket/files/4776401/CMakeOutput.log)

[code]

##### Technical information
-

[2020-06-16 20:28] zen85 commented on #275
oh nice. i also want to build a vu-meter in the remote to have visual feedback. is this still planned?

[2020-06-17 17:00] zerozero opened #539 "Installer fails on Mac OS"
##### Issue type
Bug report

##### Description
Trying to install for a customised version of OBS (https://dash.millicast.com/docs.html?pg=obs-with-millicast). The installer indicates success but no plugin is installed.

##### Steps to reproduce and other useful info
- Download and install the customised version of OBS
- Download version 4.7.0 of obs-websocket (Millicast-OBS is based on OBS v23)
-

[2020-06-18 20:53] tt2468 commented on #538
Looks like you download the source either by zip, or downloaded with cmake and missed the `--recursive` flag. You are missing the websocketpp dependency.

[2020-06-19 03:03] nobicycle commented on #538
Thank you  tt2468

Inside a git clone:
[code]
I added --recursive to cmake and used a git clone as source. Will close this cos anything beyond basic instructions is beyoned my abilities.. Thanks anyway.

[2020-06-19 03:03] #538 closed

[2020-06-19 03:08] tt2468 commented on #538
That's not the git clone command. That's the cmake command.